@model Fashion.ERP.Web.Areas.Almoxarifado.Models.UnidadeMedidaModel
<div class="control-group">
    @Html.LabelForRequired(x => x.Sigla)
    <div class="controls">
        @Html.EditorFor(x => x.Sigla)
        @Html.ValidationMessageFor(x => x.Sigla, null, new { @class = "help-block" })
    </div>
</div>
<div class="control-group">
    @Html.LabelForRequired(x => x.Descricao)
    <div class="controls">
        @Html.EditorFor(x => x.Descricao)
        @Html.ValidationMessageFor(x => x.Descricao, null, new { @class = "help-block" })
    </div>
</div>
<div class="control-group">
    @Html.LabelForRequired(x => x.FatorMultiplicativo)
    <div class="controls">
        @(Html.Kendo().NumericTextBoxFor(x => x.FatorMultiplicativo)
            .Format("n14").Decimals(14)
            .Min(0)
            .HtmlAttributes(new { @class = "percent input-medium" }))
        @Html.ValidationMessageFor(x => x.FatorMultiplicativo, null, new { @class = "help-block" })
    </div>
</div>
