@model Fashion.ERP.Web.Areas.Almoxarifado.Models.UnidadeMedidaModel

<fieldset>
    <legend><small>Dados da Marca do Material</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Sigla)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Sigla, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Sigla, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Descricao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Descricao, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Descricao, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.FatorMultiplicativo)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @(Html.Kendo().NumericTextBoxFor(x => x.FatorMultiplicativo)
                        .Format("n14").Decimals(14)
                        .Min(0)
                        .HtmlAttributes(new { @class = "percent " }))
                    @Html.ValidationMessageFor(x => x.FatorMultiplicativo, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>

@Html.FormActionAuth(this.IsEditar(), MVC.Almoxarifado.UnidadeMedida.Excluir(Model.Id))

