@model Fashion.ERP.Web.Areas.Comum.Models.OperacaoProducaoModel

<fieldset>
    <legend>Dados do Operação de Produção</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Descricao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Descricao, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Descricao, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Tempo)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Tempo, new {  @class = "form-control numeric" })
                    @Html.ValidationMessageFor(x => x.Tempo, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Custo)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Custo)
                    @Html.ValidationMessageFor(x => x.Custo, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.DepartamentoProducao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.DropDownList("DepartamentoProducao", null, "-- Selecione --", new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.DepartamentoProducao, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.SetorProducao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.DropDownList("SetorProducao", null, "-- Selecione --", new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.SetorProducao, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.PesoProdutividade)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.PesoProdutividade, new {  @class = "form-control numeric" })
                    @Html.ValidationMessageFor(x => x.PesoProdutividade, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                @(Html.TreeView(Model.TreeView)
                      .EmptyContent("Não há operações dos setores cadastradas.")
                      .Children(m => m.Itens)
                      .HtmlAttributes(new { id = "treeview" })
                      .ChildrenHtmlAttributes(new { @class = "subItem" })
                      .ItemText(m => m.Name)
                      .ItemTemplate(
                          @<text>
                               @if (item.IsChecked)
                               {
                                   <span id="item-selected">@item.Name</span>
                               }
                               else
                               {
                                   <span>@item.Name</span>
                               }
                           </text>
                      ))
            </div>
        </div>
    </div>
</fieldset>


@Html.FormActionAuth(this.IsEditar(), MVC.Comum.OperacaoProducao.Excluir(Model.Id))

<script>
    $(document).ready(function () {

        var treeview = $("#treeview").kendoTreeView({
        }).data("kendoTreeView");

        treeview.expand(".k-item");
        
        var selectedItem = $('#item-selected').closest('.k-item');
        treeview.select(selectedItem);
        
        // Preenche o combo de setor de produção de acordo com o departamento escolhido
        $(document).on('change', '#DepartamentoProducao', function () {
            var setores = $('#SetorProducao');
            setores.empty();
            
            var url = '/Comum/SetorProducao/SetoresDepartamento_/';
            $.getJSON(url, { IdDepartamento: $(this).val() }, function (result) {
                $.each(result, function (index, item) {
                    setores.append($('<option />').val(item.Id).text(item.Nome));
                });
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        });
    });
</script>
