@model Fashion.ERP.Web.Areas.Comum.Models.ClassificacaoDificuldadeModel
<div class="control-group">
	@Html.LabelForRequired(x => x.Descricao)
	<div class="controls">
		@Html.EditorFor(x => x.Descricao)
		@Html.ValidationMessageFor(x => x.Descricao, null, new { @class="help-block" })
	</div>
</div>
<div class="control-group">
	@Html.LabelForRequired(x => x.Criacao)
	<div class="controls">
		@Html.EditorFor(x => x.Criacao)
		@Html.ValidationMessageFor(x => x.Criacao, null, new { @class="help-block" })
	</div>
</div>
<div class="control-group">
	@Html.LabelForRequired(x => x.Producao)
	<div class="controls">
		@Html.EditorFor(x => x.Producao)
		@Html.ValidationMessageFor(x => x.Producao, null, new { @class="help-block" })
	</div>
</div>
