@model Fashion.ERP.Web.Areas.Comum.Models.CentroCustoModel

@Html.HiddenFor(x => x.Codigo)

<fieldset>
    <legend><small>Dados do Centro de Custo</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Nome)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Nome, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>

@Html.FormActionAuth(this.IsEditar(), MVC.Comum.CentroCusto.Excluir(Model.Id))
