@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.SolicitacaoMaterialCompraModel
@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

@using (Html.BeginForm(MVC.EngenhariaProduto.RelatorioSolicitacaoMaterialCompra.SolicitacaoMaterialCompra(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{
    <div class="accordion" id="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsePesquisar">
                Pesquisar
            </a>
        </div>
        <div id="collapsePesquisar" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.Marcas)
                            <div class="controls">
                                @(Html.Kendo().MultiSelect()
                                      .Name("Marcas")
                                      .BindTo(ViewBag.Marcas)
                                      .Value(Model.Marcas)
                                      )
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.ColecaoAprovada)
                            <div class="controls">
                                @Html.DropDownList("Colecaoaprovada", null, "-- Selecione --", new { @class = "input-large" })
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.Categorias)
                            <div class="controls">
                                @(Html.Kendo().MultiSelect()
                                      .Name("Categorias")
                                      .BindTo(ViewBag.Categorias)
                                      .Value(Model.Categorias)
                                      )
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.Subcategorias)
                            <div class="controls">
                                @(Html.Kendo().MultiSelect()
                                      .Name("Subcategorias")
                                      .BindTo(ViewBag.Subcategorias)
                                      .Value(Model.Subcategorias)
                                      )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2" style="-ms-opacity: 0.99; opacity: 0.99;">
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.DataInicial)
                            <div class="controls">
                                @Html.EditorFor(x => x.DataInicial, new { @class = "input-small" })
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.DataFinal)
                            <div class="controls">
                                @Html.EditorFor(x => x.DataFinal, new { @class = "input-small" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.OrdenarPor, new { @class = "control-label " })
                            <div class="controls">
                                @Html.DropDownList("OrdenarPor", "--Selecione--")
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            @Html.LabelForRequired(x => x.OrdenarEm, new { @class = "control-label " })
                            <div class="controls">
                                <select name="OrdenarEm">
                                    <option value="asc">Ascendente</option>
                                    <option value="desc">Descendente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <button id="pesquisar-relatorio" class="btn btn-info pull-right" type="button" data-loading-text="Aguarde...">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div id="pdf"></div>
<script>
    // Preenche o combo de subcategoria de acordo com a categoria escolhida
    $('#Categorias').on("change", function () {
        var subcategoria = $('#Subcategorias').data("kendoMultiSelect");

        // Limpar as subcategorias
        subcategoria.setDataSource(new kendo.data.DataSource({ data: [] }));
        // Limpa selecionados
        //subcategoria.value([]);

        var data = {};

        var categorias = $(this).data("kendoMultiSelect").value();
        if (categorias) {
            $.each(categorias, function (index, value) {
                var url = '/Almoxarifado/Subcategoria/Subcategorias/' + value;
                $.getJSON(url, function (result) {
                    $.each(result, function (idx, item) {
                        subcategoria.dataSource.add({ Text: item.Nome, Value: item.Id });
                    });
                }).fail(function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                });
            });
        }
    });
</script>