@model Fashion.ERP.Web.Areas.Compras.Models.OrdemEntradaCompraModel
<div class="row">
    <div class="span6">
        <div class="control-group">
            @Html.LabelForRequired(x => x.UnidadeEstocadora)
            <div class="controls">
                @Html.DropDownList("UnidadeEstocadora", null, "-- Selecione --", new { @class = "input-large" })
                @Html.ValidationMessageFor(x => x.UnidadeEstocadora, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="control-group">
            @Html.LabelForRequired(x => x.Numero)
            <div class="controls">
                @Html.EditorFor(x => x.Numero)
                @Html.ValidationMessageFor(x => x.Numero, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelForRequired(x => x.Data)
            <div class="controls">
                @Html.EditorFor(x => x.Data)
                @Html.ValidationMessageFor(x => x.Data, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelForRequired(x => x.Fornecedor)
            <div class="controls">
                @Html.HiddenFor(x => x.Fornecedor, new { id = "Fornecedor" })
                <div class="input-append">
                    <input id="codigo-fornecedor" class="input-small numeric-only" type="text" />
                    <button id="pesquisar-fornecedor" class="btn" type="button"><i class="icon-search"></i></button>
                    <span id="descricao-fornecedor" class="add-on"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            @Html.LabelForRequired(x => x.Comprador)
            <div class="controls">
                @Html.HiddenFor(x => x.Comprador, new { id = "funcionario" })
                <div class="input-append">
                    <input id="codigo-funcionario" class="input-small numeric-only" type="text" />
                    <button id="pesquisar-funcionario" class="btn" type="button"><i class="icon-search"></i></button>
                    <span id="descricao-funcionario" class="add-on"></span>
                </div>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelForRequired(x => x.Observacao)
            <div class="controls">
                @Html.EditorFor(x => x.Observacao)
                @Html.ValidationMessageFor(x => x.Observacao, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
</div>
<fieldset>
    <legend></legend>
    <div class="row">
        <div class="span4">
            <div class="control-group">
                @Html.Label("numero-pedidocompra", "Numero", new { @class = "control-label" })
                <div class="controls">
                    @Html.Hidden("PedidoCompra")
                    <div class="input-append">
                        <input id="numero-pedidocompra" class="input-small" type="text" />
                        <button id="pesquisar-pedidocompra" class="btn" type="button"><i class="icon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1">
            <button id="btn-add" type="button" class="btn"><i class="icon-plus"></i></button>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <table id="table-sequencia" class="table table-striped table-condensed" style="width: 800px">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Data</th>
                        <th>Referência</th>
                        <th>Descrição</th>
                        <th>UND</th>
                        <th>Qtde</th>
                        <th>Valor</th>
                        <th>Total</th>
                        <th style="width: 16px"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Itens != null)
                    {
                        for (int i = 0; i < Model.Itens.Count; i++)
                        {
                            var item = Model.Itens[i];
                            var pedidoCompra = Model.PedidoCompras[i];
                            var dataPedido = Model.Datas[i];
                            var material = Model.Materiais[i];
                            var unidadeMedida = Model.UnidadeMedidas[i];
                            var quantidade = Model.Quantidades[i];
                            var valorUnitario = Model.ValorUnitarios[i];
                            var valorTotal = Model.ValorTotais[i];

                            <tr>
                                <td>
                                    @ViewBag.PedidoComprasDicionario[pedidoCompra]
                                    <input type="hidden" name="Itens" value="@item"/>
                                    <input type="hidden" name="PedidoCompras" value="@pedidoCompra" />
                                </td>
                                <td>
                                    @dataPedido
                                    <input type="hidden" name="Datas" value="@dataPedido"/>
                                </td>
                                <td>
                                    @ViewBag.MaterialReferenciasDicionario[material]
                                    <input type="hidden" name="Materiais" value="@material"/>
                                </td>
                                <td>
                                    @ViewBag.MaterialDescricoesDicionario[material]
                                </td>
                                <td>
                                    @ViewBag.UnidadeMedidasDicionario[unidadeMedida]
                                    <input type="hidden" name="UnidadeMedidas" value="@unidadeMedida"/>
                                </td>
                                <td>
                                    <input id="Qtd@(item)" type="number" name="Quantidades" value="@quantidade" class="input-mini" onchange="javascript:CalculaTotalLinha(this)" />
                                    <script>$("#Qtd@(item)").kendoNumericTextBox();</script>
                                </td>
                                <td>
                                    @valorUnitario.ToString("C2")
                                    <input type="hidden" name="ValorUnitarios" value="@valorUnitario"/>
                                </td>
                                <td>
                                    <span name="LabelTotais">@valorTotal.ToString("C2")</span>
                                    <input type="hidden" name="ValorTotais" value="@valorTotal"/>
                                </td>
                                <td><a href="javascript:void(0)" onclick="Delete(this)"><i class="icon-remove"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="span7"><b class="pull-right">Total compra: R$ <span id="TotalGeral">0,00</span></b></div>
        </div>
    </div>

</fieldset>
<script>
    $(function () {

        $('#btn-add').on('click', function () {

            var numero = $('#numero-pedidocompra').val();

            // Pesquisar o pedido e adicionar os itens
            var url = '@Html.GetUrl(MVC.Compras.OrdemEntradaCompra.PesquisarItemPedidoCompra())?numero=' + numero;
            $.getJSON(url, function (result) {
                $.each(result, function (index, item) {

                    var qtdId = "Qtd" + item.Id;
                    var valorTotal = item.Quantidade * item.ValorUnitario;

                    if (!$('#' + qtdId).length) { // Verifica se o item já foi adicionado

                        $('#table-sequencia tbody').append(
                            '<tr>\
                                <td>' + item.Numero + '<input type="hidden" name="PedidoCompras" value="' + item.PedidoId + '" /><input type="hidden" name="Itens" value="' + item.Id + '" /></td>\
                                <td>' + item.Data + '<input type="hidden" name="Datas" value="' + item.Data + '" /></td>\
                                <td>' + item.Referencia + '<input type="hidden" name="Materiais" value="' + item.Material + '"/></td>\
                                <td>' + item.Descricao + '</td>\
                                <td>' + item.UnidadeMedida + '<input type="hidden" name="UnidadeMedidas" value="' + item.UnidadeMedidaId + '"/></td>\
                                <td><input id="' + qtdId + '" type="number" name="Quantidades" value="' + item.Quantidade + '" class="input-mini" onchange="javascript:CalculaTotalLinha(this)" /></td>\
                                <td>' + item.ValorUnitario.toText() + '<input type="hidden" name="ValorUnitarios" value="' + item.ValorUnitario.toText() + '"/></td>\
                                <td><span name="LabelTotais">' + valorTotal.toText() + '</span><input type="hidden" name="ValorTotais" value="' + valorTotal.toText() + '"/></td>\
                                <td><a href="javascript:void(0)" onclick="Delete(this)"><i class="icon-remove"></i></a></td>\
                            </tr>'
                            );

                        $("#" + qtdId).kendoNumericTextBox();

                        CalculaTotal();

                        // limpar formulário
                        $('#numero-pedidocompra').val('');
                    }
                });
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });

        });
    });

    function CalculaTotalLinha(qtdInput) {
        var $this = $(qtdInput);

        var quantidade = $this.val().toNumber();

        var row = $this.parents('tr:first');

        var valorInput = row.find('input[name="ValorUnitarios"]');
        var valorUnitario = valorInput.val().toNumber();


        var span = row.find('span[name="LabelTotais"]');
        var valorTotal = quantidade * valorUnitario;
        span.text(valorTotal.toText());

        CalculaTotal();
    };

    function CalculaTotal() {
        var totalGeral = 0;

        $('#table-sequencia tbody tr').each(function (index, item) {
            var row = $(item);
            var totalLinha = row.find('span[name="LabelTotais"]').text();
            totalGeral = totalGeral + totalLinha.toNumber();
        });

        $('#TotalGeral').text(totalGeral.toText());
    }

    function Delete(a) {
        var row = $(a).parents('tr:first');

        row.fadeTo('fast', 0, function () {
            row.remove();
            CalculaTotal();
        });
    }
</script>