@model Fashion.ERP.Web.Areas.Compras.Models.DetalharOrdemEntradaCompraModel

<div class="well well-sm">
    <div class="btn-toolbar">
        <div class="btn-group">
            @Html.ActionLinkAuth("Novo", MVC.Compras.OrdemEntradaCompra.Novo(), new { @class = "btn" })
            @Html.ActionLinkAuth("Editar", MVC.Compras.OrdemEntradaCompra.Editar(Model.Id), new { @class = "btn" })
        </div>
        <div class="btn-group">
            <button class="btn" disabled="disabled">Lançar Nfe</button>
            <button class="btn" disabled="disabled">Lançar pagar</button>
            <button class="btn" disabled="disabled">Cte</button>
            @*@Html.ActionLinkAuth("Lançar Nfe", MVC.Compras.OrdemEntradaCompra.LancarNfe(Model.Id), new { @class = "btn" })
            @Html.ActionLinkAuth("Lançar pagar", MVC.Compras.OrdemEntradaCompra.LancarPagar(Model.Id), new { @class = "btn" })
            @Html.ActionLinkAuth("Cte", MVC.Compras.OrdemEntradaCompra.Cte(Model.Id), new { @class = "btn" })*@
        </div>
    </div>
</div>

<fieldset class="detail">
    <legend>Dados da Ordem de Entrada de Compra</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.Numero, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Numero)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Data, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Data)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Fornecedor, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Fornecedor)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.Situacao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Situacao)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Comprador, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Comprador)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Observacao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Observacao)
                </div>
            </div>
        </div>
    </div>
</fieldset>

@if (Model.OrdemEntradas.IsNullOrEmpty() == false)
{
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Pedidos de compras</legend>

                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Data</th>
                            <th>Referência</th>
                            <th>Descrição</th>
                            <th>UND</th>
                            <th>Qtde</th>
                            <th>Valor</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    @foreach (var pedido in Model.PedidoCompras)
                    {
                        <tr>
                            <td>@pedido.Numero</td>
                            <td>@pedido.Data.ToString("dd/MM/yyyy")</td>
                            <td>@pedido.Referencia</td>
                            <td>@pedido.Descricao</td>
                            <td>@pedido.UnidadeMedida</td>
                            <td>@pedido.Quantidade.ToString("N")</td>
                            <td>@pedido.ValorUnitario.ToString("N")</td>
                            <td>@pedido.ValorTotal.ToString("N")</td>
                        </tr>
                    }
                </table>
            </fieldset>
        </div>
    </div>
}

@*<div class="row">
    <fieldset class="col-md-6">
        <legend>Notas fiscais</legend>
    </fieldset>
    <fieldset class="col-md-6">
        <legend>Conhecimento de transporte</legend>
    </fieldset>
</div>

<div class="row">
    <fieldset class="col-md-6">
        <legend>Pagar</legend>
    </fieldset>
    <fieldset class="col-md-6">
        <legend>Pagar</legend>
    </fieldset>
</div>*@

@if (Model.OrdemEntradas.IsNullOrEmpty() == false)
{
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Ordem entrada</legend>

                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Quantidade</th>
                            <th>Situação</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    @foreach (var entrada in Model.OrdemEntradas)
                    {
                        <tr>
                            <td>@entrada.Data.ToString("dd/MM/yyyy")</td>
                            <td>@entrada.Quantidade.ToString("N")</td>
                            <td>@entrada.Situacao</td>
                            <td>@entrada.Observacao</td>
                        </tr>
                    }
                </table>
            </fieldset>
        </div>
    </div>
}