@model Fashion.ERP.Web.Areas.Compras.Models.PesquisaOrdemEntradaCompraModel
<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Compras.OrdemEntradaCompra.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@using (Html.BeginForm(MVC.Compras.PedidoCompra.Index(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{
    @Html.AntiForgeryToken()
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePesquisar">Pesquisar
                </a>
            </div>
            <div id="collapsePesquisar" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.UnidadeEstocadora, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.DropDownList("UnidadeEstocadora", null, "-- Selecione --", new { @class = "input-xlarge" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Numero)
                                <div class="controls">
                                    @Html.EditorFor(x => x.Numero, new { @class = "input-small" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Fornecedor)
                                <div class="controls">
                                    @Html.HiddenFor(x => x.Fornecedor, new { id = "Fornecedor" })
                                    <div class="input-group">
                                        <input id="codigo-fornecedor" class="input-small numeric-only" type="text" />
                                        <button id="pesquisar-fornecedor" class="btn" type="button"><i class="icon-search"></i></button>
                                        <span id="descricao-fornecedor" class="add-on"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.SituacaoOrdemEntradaCompra)
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.SituacaoOrdemEntradaCompra, Model.SituacaoOrdemEntradaCompra.ToSelectList(), "-- Selecione --")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.DataInicial)
                                <div class="controls">
                                    @Html.EditorFor(x => x.DataInicial, new { @class = "input-small" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.DataFinal)
                                <div class="controls">
                                    @Html.EditorFor(x => x.DataFinal, new { @class = "input-small" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-info pull-right" type="submit" data-loading-text="Aguarde...">Pesquisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@(Html.Kendo().Grid(Model.Grid)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Numero);
        columns.Bound(x => x.Data).Format("{0:dd/MM/yyyy}");
        columns.Bound(x => x.Fornecedor);
        columns.Bound(x => x.Situacao);
        columns.Template(item => Html.ActionLinkAuth("Detalhar", MVC.Compras.OrdemEntradaCompra.Detalhar(item.Id), new { @class = "btn btn-primary" })).Width(80);
    })
)
@{
    Html.RenderAction("Pesquisar", "Fornecedor", new { area = "Comum" });
}