@model Fashion.ERP.Web.Areas.Producao.Models.CopiarFichaTecnicaModel
@using (Html.BeginForm(MVC.Producao.FichaTecnica.Copiar(), FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()

    <fieldset>
        <legend><small>Ficha Técnica de Origem</small></legend>
        <div class="detail">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ReferenciaOrigem, new { @class = "title-label" })
                        <div class="value-label">
                            @Html.DisplayFor(x => x.ReferenciaOrigem)
                            @Html.HiddenFor(x => x.ReferenciaOrigem)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.DescricaoOrigem, new { @class = "title-label" })
                        <div class="value-label">
                            @Html.DisplayFor(x => x.DescricaoOrigem)
                            @Html.HiddenFor(x => x.DescricaoOrigem)
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </fieldset>
    <fieldset>
        <legend><small>Nova Ficha Técnica</small></legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelForRequired(x => x.ReferenciaNova, new { @class = "control-label " })
                    <div class="controls">
                        @Html.EditorFor(x => x.ReferenciaNova)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelForRequired(x => x.Observacao)
                    <div class="controls">
                        @Html.EditorFor(x => x.Observacao)
                    </div>
                </div>
            </div>
        </div>
     </fieldset>

    <div class="form-actions">
        <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
    </div>
}