@using Fashion.ERP.Web.Areas.Producao.Models
@model FichaTecnicaFotosModel

<style>
    * {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }
</style>

@using (Html.BeginForm(MVC.Producao.FichaTecnica.Fotos(), FormMethod.Post, new {id = "formFotos", @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)

    <hr/>

    <div class="container-fluid">
        <fieldset>
            <legend><small>Fotos da Ficha Técnica</small></legend>
            @(Html.Kendo().Grid(Model.GridFotos)
                  .Name("GridFotos").HtmlAttributes(new { style="width:600px"})
                  .Editable(e => e.Mode(GridEditMode.InCell))
                  .Navigatable()
                  .Columns(columns =>
                  {
                      columns.Bound(x => x.Id).Hidden()
                          .ClientTemplate("<input type='hidden' name='GridFotos[#= index(data)#].Id' value='#= Id #' />");
                      columns.Bound(p => p.FotoTitulo).ClientTemplate("#= FotoTitulo #" +
                                                                      "<input type='hidden' name='GridFotos[#= index(data)#].FotoTitulo' value='#= FotoTitulo #' />");
                      columns.Bound(p => p.Padrao).ClientTemplate("#= Padrao ? 'Sim' : 'Não' #" +
                                                                  "<input type='hidden' name='GridFotos[#= index(data)#].Padrao' value='#= Padrao #' />").Width(80);
                      columns.Bound(p => p.Impressao).ClientTemplate("#= Impressao ? 'Sim' : 'Não' #" +
                                                                     "<input type='hidden' name='GridFotos[#= index(data)#].Impressao' value='#= Impressao #' />").Width(80);
                      columns.Bound(x => x.FotoNome)
                          .ClientTemplate("<input type='hidden' name='GridFotos[#= index(data)#].FotoNome' value='#= FotoNome #' />"
                                          +"<a href='/Arquivo/Foto?nomeFoto=#= FotoNome #' data-lightbox='fichatecnicafoto' title='#= FotoTitulo #' target = '_blank'>"
                                          +"<img src='/Arquivo/Thumbnail?nomeFoto=#= FotoNome #&width=68&height=68' class='img-rounded' style='width: 68px; height: 68px;'/></a>").Width(80);
                      columns.Command(command => command.Destroy()).Width(110);
                  })
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Events(events => events.Error("onKendoGridError"))
                      .Model(model =>
                      {
                          model.Id(item => item.Id);        
                          model.Field(item => item.Id).Editable(false).DefaultValue(0);                                    
                      })
                  )
                  .ToolBar(toolbar => toolbar.Custom().Text("Incluir").HtmlAttributes(new { @id = "incluirfoto", @href = "javascript:void(0)", @class = "btn-primary" }))
                  .Events(events => events.Edit("onEditGridFotos")))
        </fieldset>    
        
        <hr />

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
                        @Html.SubmitButtonAuth(MVC.Producao.FichaTecnica.Fotos(), "btnSubmitFotos")        
                    </div>
                </div>
            </div>     
        </div>
    </div>
}

<div id="modal-fichatecnicafoto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Fotos</h3>
            </div>
            <div id="modal-body-cliente" class="modal-body" style="overflow-y: hidden;">
                <form class="form-horizontal" role="form">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-4 col-md-3">Foto</label>
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <div class="clearfix">
                                <div class="fileinput fileinput-new" data-provides="fileinput" data-crop="crop">
                                    <div class="thumbnail" data-trigger="fileinput">
                                        <img id="imagem-avatar" src="/Content/images/no_image.jpg" style="width: 150px; height: 150px;" />
                                    </div>
                                    <div>
                                        <span class="btn-default btn btn-file">
                                            <span class="fileinput-new">Novo</span>
                                            <span class="fileinput-exists">Alterar</span>
                                            <input type="file" name="foto" />
                                            @Html.Hidden("FotoNome")
                                        </span>
                                        <a href="javascript:void(0)" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                                    </div>
                                </div>
                            </div>
                            <div class="progress" style="display: none">
                                <div class="progress-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-4 col-md-3">Título</label>
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <input type="text" name="fototitulomodal" id="fototitulomodal"  class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-4 col-md-3">Padrão</label>
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <select name="padraomodal" class="form-control">
                                <option value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-4 col-md-3">Impressão</label>
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <select name="impressaomodal" class="form-control">
                                <option value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                        </div>
                    </div>
                </form>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button id="btn-salvar-fichatecnicafoto" class="btn btn-primary" type="button">Selecionar</button>
            </div>
        </div>
    </div>
</div>

<script>


</script>