@model Fashion.ERP.Web.Areas.Producao.Models.PesquisaFichaTecnicaModel

<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.Producao.FichaTecnica.Novo(), new { @class = "btn btn-primary" })
</div>
@using (Html.BeginForm(MVC.Producao.FichaTecnica.Index(), FormMethod.Post, new { @class = "form-horizontal  small-labels" }))
{
    @Html.AntiForgeryToken()
    @*<div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePesquisar">
                    Pesquisar
                </a>
            </div>
            <div id="collapsePesquisar" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelForRequired(x => x.Emitente, new { @class = "control-label "})
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Emitente, new { @class = "input-medium"})
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelForRequired(x => x.Cliente, new { @class = "control-label"})
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Cliente, new { @class = "input-medium"})
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelForRequired(x => x.NumeroCheque, new { @class = "control-label"})
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.NumeroCheque, new { @class = "input-small", data_mask = "999999"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelForRequired(x => x.Unidade, new { @class = "control-label"})
                                <div class="controls">
                                    @Html.DropDownList("Unidade", "-- Selecione --")
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelForRequired(x => x.VencimentoDe, new { @class = "control-label"})
                                <div class="controls">
                                    @(Html.Kendo().DatePickerFor(x => x.VencimentoDe))
                                </div>
                                @Html.Label("VencimentoAte", "Até", new { @class = "control-label"})
                                <div class="controls">
                                    @(Html.Kendo().DatePickerFor(x => x.VencimentoAte))
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                @Html.LabelForRequired(x => x.Compensado, new { @class = "control-label"})
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.Compensado, Model.Compensado.ToSelectList(), "-- Selecione --")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <button class="btn btn-info pull-right" type="submit" data-loading-text="Aguarde...">Pesquisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
}
@Html.ValidationSummaryEx()
@(Html.Kendo().Grid(Model.Grid)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Tag);
        columns.Bound(x => x.Ano);
        columns.Bound(x => x.Descricao);
        columns.Bound(x => x.Colecao);
        columns.Bound(x => x.Marca);
        columns.Bound(x => x.Natureza);
        columns.Template(item => (!string.IsNullOrWhiteSpace(item.Foto) ? "<img src='" + item.Foto + "' class='img-rounded' style='width: 48px; height: 48px;'/>" : string.Empty)).Width(60);
        columns.Template(item => Html.EditarAuth(MVC.Producao.FichaTecnica.Editar(item.Id))).Width(80);
        @*columns.Template(item => Html.EditarSituacaoAuth(MVC.Almoxarifado.Material.EditarSituacao(item.Id), item.Ativo)).Width(80);
        columns.Template(item => Html.EditarAuth(MVC.Financeiro.ChequeRecebido.Editar(item.Id))).Width(80);*@
    })
)