@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.NaturezaModel

@using (Html.BeginForm(MVC.EngenhariaProduto.Natureza.Editar(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
	@Html.HiddenFor(x => x.Id)
    @Html.Partial("_NovoOuEditar", Model)
	<div class="form-actions">
        <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
        @Html.ExcluirAuth(MVC.EngenhariaProduto.Natureza.Excluir(Model.Id))
	</div>
}
@{Html.RenderPartial("_ConfirmDelete");}