@model Fashion.ERP.Web.Areas.Comum.Models.FichaFornecedorModel

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

@using (Html.BeginForm(MVC.Comum.Relatorio.FichaFornecedor(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{

<div class="panel-group accordion accordion-semi" id="accordion3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#ac3-1">
                    <i class="fa fa-angle-right"></i>Pesquisar
                </a>
            </h4>
        </div>
        <div id="ac3-1" class="panel-collapse collapse in">
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelForRequired(x => x.Codigo, new { @class="col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Codigo)
                            </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(x => x.Nome, new { @class="col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Nome, new { @class = "input-xxlarge" })
                            </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(x => x.TipoPessoa, new { @class="col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.TipoPessoa, Model.TipoPessoa.ToSelectList(), "", new { @class = "input-medium" })
                            </div>
                </div>


                <div id="fisica">


                    <div class="form-group">
                        @Html.LabelForRequired(x => x.Cpf, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(x => x.Cpf)
                                    @Html.ValidationMessageFor(x => x.Cpf, null, new { @class = "help-block" })
                                </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(x => x.DocumentoIdentidade, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.DocumentoIdentidade, new { @class = "input-medium" })
                                    @Html.ValidationMessageFor(x => x.DocumentoIdentidade, null, new { @class = "help-block" })
                                </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(x => x.DataNascimento, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6 padding-none">
                                    @Html.EditorFor(x => x.DataNascimento)
                                    @Html.ValidationMessageFor(x => x.DataNascimento, null, new { @class = "help-block" })
                                </div>
                    </div>

                </div>

                <div id="juridica">

                    <div class="form-group">
                        @Html.LabelForRequired(x => x.Cnpj, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(x => x.Cnpj)
                                    @Html.ValidationMessageFor(x => x.Cnpj, null, new { @class = "help-block" })
                                </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelForRequired(x => x.NomeFantasia, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.NomeFantasia, new { @class = "input-medium" })
                                    @Html.ValidationMessageFor(x => x.NomeFantasia, null, new { @class = "help-block" })
                                </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(x => x.InscricaoEstadual, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.InscricaoEstadual, new { @class = "input-medium" })
                                    @Html.ValidationMessageFor(x => x.InscricaoEstadual, null, new { @class = "help-block" })
                                </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(x => x.InscricaoMunicipal, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.InscricaoMunicipal, new { @class = "input-medium" })
                                    @Html.ValidationMessageFor(x => x.InscricaoMunicipal, null, new { @class = "help-block" })
                                </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(x => x.InscricaoSuframa, new { @class="col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.InscricaoSuframa, new { @class = "input-medium" })
                                    @Html.ValidationMessageFor(x => x.InscricaoSuframa, null, new { @class = "help-block" })
                                </div>
                    </div>

                </div>

                <div id="exterior"></div>

                <div class="pull-right">
                    <button id="pesquisar-relatorio" class="btn btn-primary" type="button" data-loading-text="Aguarde...">Pesquisar</button>
                </div>

            </div>
        </div>
    </div>
</div>



}
<div id="pdf"></div>

<script>
    $(window).load(function () {
        $('#TipoPessoa').change(function () {
            if ($(this).val() === 'Fisica') {
                $("#fisica").show('slow');
                $("#juridica").hide('slow');
                $("#exterior").hide('slow');
            } else if ($(this).val() === 'Juridica') {
                $("#fisica").hide('slow');
                $("#juridica").show('slow');
                $("#exterior").hide('slow');
            } else if ($(this).val() === 'Exterior') {
                $("#fisica").hide('slow');
                $("#juridica").hide('slow');
                $("#exterior").show('slow');
            } else {
                $("#fisica").hide('slow');
                $("#juridica").hide('slow');
                $("#exterior").hide('slow');
            }
        });
        $("#fisica").hide();
        $("#juridica").hide();
        $("#exterior").hide();
    });
</script>
