@model Fashion.ERP.Web.Areas.Comum.Models.SetorProducaoModel

<div class="row">
    <div class="span6">
        <div class="control-group">
            @Html.LabelForRequired(x => x.Nome)
            <div class="controls">
                @Html.EditorFor(x => x.Nome)
                @Html.ValidationMessageFor(x => x.Nome, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelForRequired(x => x.DepartamentoProducao)
            <div class="controls">
                @Html.DropDownList("DepartamentoProducao", null, "-- Selecione --", new {@class = "input-large"})
                @Html.ValidationMessageFor(x => x.DepartamentoProducao, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            @(Html.TreeView(Model.TreeView)
                .EmptyContent("Não há setores cadastrados.")
                .Children(m => m.Itens)
                .HtmlAttributes(new { id = "treeview" })
                .ChildrenHtmlAttributes(new { @class = "subItem" })
                .ItemText(m => m.Name)
                .ItemTemplate(
                    @<text>
                         @if (item.IsChecked)
                         {
                             <span id="item-selected">@item.Name</span>
                         }
                         else
                         {
                             <span>@item.Name</span>
                         }
                     </text>
                ))
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var treeview = $("#treeview").kendoTreeView({
        }).data("kendoTreeView");

        treeview.expand(".k-item");
        
        var selectedItem = $('#item-selected').closest('.k-item');
        treeview.select(selectedItem);
    });
</script>
