@using Fashion.ERP.Domain.Comum
@model Fashion.ERP.Web.Areas.Comum.Models.PrestadorServicoModel

<div class="clearfix">
    <div class='header'>
        <h2 class="color-primary">Prestador de servico </h2>
    </div>

    <div class="form-group">
        @Html.LabelForRequired(x => x.TipoPessoa, new { @class="col-sm-3 control-label" })
    <div class="col-sm-6">
        <label class="radio">
            <input name="TipoPessoa" id="radioFisica" type="radio" value="Fisica" checked="checked" />Física</label>
        <label class="radio">
            <input name="TipoPessoa" id="radioJuridica" type="radio" value="Juridica" />Jurídica</label>
    </div>
    </div>

    <div class="form-group">
        @Html.LabelForRequired(x => x.Nome, new { @class="col-sm-3 control-label" })
    <div class="col-sm-6">
        @Html.EditorFor(x => x.Nome)
        @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
    </div>
    </div>

    <div id="fisica">
        <div class="form-group">
            @Html.LabelForRequired(x => x.Cpf, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.Cpf)
            @Html.ValidationMessageFor(x => x.Cpf, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.DocumentoIdentidade, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.DocumentoIdentidade)
            @Html.ValidationMessageFor(x => x.DocumentoIdentidade, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.OrgaoExpedidor, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.OrgaoExpedidor)
            @Html.ValidationMessageFor(x => x.OrgaoExpedidor, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.DataNascimento, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6 padding-none">
            @Html.EditorFor(x => x.DataNascimento)
            @Html.ValidationMessageFor(x => x.DataNascimento, null, new { @class="help-block" })
        </div>
        </div>
    </div>
    <div id="juridica">
        <div class="form-group">
            @Html.LabelForRequired(x => x.Cnpj, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.Cnpj)
            @Html.ValidationMessageFor(x => x.Cnpj, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.NomeFantasia, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.NomeFantasia)
            @Html.ValidationMessageFor(x => x.NomeFantasia, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.InscricaoEstadual, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.InscricaoEstadual)
            @Html.ValidationMessageFor(x => x.InscricaoEstadual, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.InscricaoMunicipal, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.InscricaoMunicipal)
            @Html.ValidationMessageFor(x => x.InscricaoMunicipal, null, new { @class="help-block" })
        </div>
        </div>
        <div class="form-group">
            @Html.LabelForRequired(x => x.InscricaoSuframa, new { @class="col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.EditorFor(x => x.InscricaoSuframa)
            @Html.ValidationMessageFor(x => x.InscricaoSuframa, null, new { @class="help-block" })
        </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.PrestadorServicoUnidade, new { @class="col-sm-3 control-label" })
    <div class="col-sm-6">
        @Html.DropDownList("PrestadorServicoUnidade")
    </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.PrestadorServicoTipoPrestadorServicos, new { @class="col-sm-3 control-label" })
    <div class="col-sm-6">
        @Html.ListBoxFor(x => x.PrestadorServicoTipoPrestadorServicos, Model.PrestadorServicoTipoPrestadorServicos.ToMultiSelectList())
        <p class="help-block">Segure CTRL para selecionar múltiplos itens.</p>
    </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.PrestadorServicoComissao, new { @class="col-sm-3 control-label" })
    <div class="col-sm-6 padding-none">
        @Html.EditorFor(x => x.PrestadorServicoComissao, "percent")
        @Html.ValidationMessageFor(x => x.PrestadorServicoComissao, null, new { @class="help-block" })
    </div>
    </div>

</div>
<script>
    $(function () {
        $("#radioFisica").on("click", function () {
            $("#fisica").show('slow');
            $("#juridica").hide('slow');
            $("#radioFisica").focus();
        });
        $("#radioJuridica").on("click", function () {
            $("#fisica").hide('slow');
            $("#juridica").show('slow');
            $("#radioJuridica").focus();
        });

        // Selecionar o tipo de pessoa
        @if (Model.TipoPessoa == TipoPessoa.Fisica)
        {
            <Text>$("#radioFisica").click();</Text>
        }
    else if (Model.TipoPessoa == TipoPessoa.Juridica)
        {
            <Text>$("#radioJuridica").click();</Text>
        }
        
        var verificarCpfCnpj = function () {
            var url = "/Comum/PrestadorServico/VerificarCpfCnpj?cpfCnpj=" + $(this).val();
            $.getJSON(url, function (result) {
                console.log(JSON.stringify(result));
                if (result.existePrestadorServico) {
                    alert("Já existe um prestador de serviço com este cpf/cnpj cadastrado no sistema.");
                    document.location.href = "/Comum/PrestadorServico/Editar/" + result.pessoaId;
                } else if (result.existePessoa) {
                    if (confirm("Já existe uma pessoa com este cpf/cnpj cadastrada no sistema. Deseja usar os dados para este cadastro?")) {
                        document.location.href = "/Comum/PrestadorServico/Editar/" + result.pessoaId;
                    } else {
                        document.location.href = "/Comum/PrestadorServico";
                    }
                }
                // Criar uma tela modal e perguntar ao usuário o q fazer
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        };
        $("#Cpf").on("change", verificarCpfCnpj);
        $("#Cnpj").on("change", verificarCpfCnpj);
    });
</script>
