@model Fashion.ERP.Web.Areas.Comum.Models.PrestadorServicoModel

@using (Html.BeginForm(MVC.Comum.PrestadorServico.Editar(), FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)
    
        <div class="block-flat">
            @Html.Partial("_NovoOuEditar", Model)
        </div>

<div class="panel-group accordion accordion-semi" id="accordion3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion3" href="#ac3-1">
                    <i class="fa fa-angle-right"></i>Endereço
                </a>
            </h4>
        </div>
        <div id="ac3-1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>@Html.ActionLink("Novo", MVC.Comum.Endereco.Novo(Model.Id.GetValueOrDefault()), new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#modal-endereco" })</p>
                @{ Html.RenderAction("Index", "Endereco", new { pessoaId = Model.Id }); }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-2">
                    <i class="fa fa-angle-right"></i>Contato
                </a>
            </h4>
        </div>
        <div id="ac3-2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>@Html.ActionLink("Novo", MVC.Comum.Contato.Novo(Model.Id.GetValueOrDefault()), new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#modal-contato" })</p>
                @{ Html.RenderAction("Index", "Contato", new { pessoaId = Model.Id }); }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-3">
                    <i class="fa fa-angle-right"></i>Informações bancárias
                </a>
            </h4>
        </div>
        <div id="ac3-3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>@Html.ActionLink("Novo", MVC.Comum.InformacaoBancaria.Novo(Model.Id.GetValueOrDefault()), new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#modal-informacao-bancaria" })</p>
                @{ Html.RenderAction("Index", "InformacaoBancaria", new { pessoaId = Model.Id }); }
            </div>
        </div>
    </div>
</div>


<div class="block-flat">
    <div class="form-actions">
        <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
        @Html.ExcluirAuth(MVC.Comum.PrestadorServico.Excluir(Model.Id))
    </div>
</div>

}
@{Html.RenderPartial("_ConfirmDelete");}
<div id="modal-endereco" class="modal hide fade">
    @using (Ajax.BeginForm(MVC.Comum.Endereco.Novo(Model.Id.GetValueOrDefault()), "#modal-endereco"))
    {
        <div class="modal-header">
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>Endereço</h3>
        </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
    </div>
    }
</div>
<div id="modal-contato" class="modal hide fade">
    @using (Ajax.BeginForm(MVC.Comum.Contato.Novo(Model.Id.GetValueOrDefault()), "#modal-contato"))
    {
        <div class="modal-header">
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>Contato</h3>
        </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
    </div>
    }
</div>
<div id="modal-informacao-bancaria" class="modal hide fade">
    @using (Ajax.BeginForm(MVC.Comum.InformacaoBancaria.Novo(Model.Id.GetValueOrDefault()), "#modal-informacao-bancaria"))
    {
        <div class="modal-header">
            <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>Informação bancária</h3>
        </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
    </div>
    }
</div>
@{
    Html.RenderPartial("_ConfirmDelete");
}