@{
    var siteMap = Html.MvcSiteMap();
}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Fashion ERP - @(ViewBag.Title ?? siteMap.SiteMapTitle())</title>
        <link rel="shortcut icon" href="~/favicon.png" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        @RenderSection("css")
        @RenderSection("javascript")
    </head>
    <body>
        <div class="wrapper">
            <div class="navmenu navmenu-default navmenu-fixed-left  offcanvas">
                <a class="navmenu-brand" href="~/"><b>FashionERP</b></a>    
                @*<a class="navmenu-brand" href="~/"><img src="~/Content/images/logo.png" style="height: 20px;"/></a>    *@
                @siteMap.Menu()
            </div>
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-fixed-top">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            @*<li class="nav-divider"></li>*@
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-user fa-fw'></i>@HttpContext.Current.User.Identity.Name<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLinkAuth("Alterar senha", MVC.Comum.Usuario.AlterarSenha())</li>
                                    <li>@Html.ActionLink("Sair", MVC.Home.Logout())</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    
                    <img src="/Content/images/ajax-loader.gif" class="ajax-loading pull-right" />
                </div>            
            </div>
            @if (Request.RawUrl == "/")
            {
                @Html.Partial("_Inicio")
            }
            else
            {
                <div class="page container-fluid">
                    @siteMap.SiteMapPath()
                    @Html.Partial("_Message")
                    @RenderBody()
                </div>
            }
            <div class="push"></div>
        </div>
        <footer class="container-fluid">
            <div class="col-sm-12">
                <div class="row">
                    <div class="pull-left">
                        <p>FashionERP © 2015 | <span class="glyphicon glyphicon-envelope"></span>contato@fashionsistemas.com.br</p>
                    </div>
                    <div class="pull-right">
                        <p>Desenvolvido por Fashion Consultoria & Sistemas</p>
                    </div>
                </div>
            </div>
        </footer>   
    </body>
</html>


