@model Fashion.ERP.Web.Areas.Comum.Models.EnderecoModel

@{
    Layout = null;
}

@using (Ajax.BeginForm(MVC.Comum.Endereco.Novo(Model.Id.GetValueOrDefault()), "#modal-endereco", "formEndereco"))
{
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Endereço</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummaryEx()
            @Html.HiddenFor(x => x.Pessoa)
            
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.TipoEndereco)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.DropDownListFor(p => p.TipoEndereco, Model.TipoEndereco.ToSelectList(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TipoEndereco, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Logradouro)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Logradouro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Logradouro, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Numero)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Numero, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Complemento)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Complemento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Complemento, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Bairro)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Bairro, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Cep)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Cep, new { data_mask = "99999-999", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Cep, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.Label("Estado", new { @class = "control-label col-sm-4 col-md-3"})
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.DropDownList("Uf", null, "-- Selecione --", new{ id = "estado-option", @class = "form-control"})
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Cidade)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.DropDownListFor(x=> x.Cidade, null, "-- Selecione --", new{ id = "cidade-option", @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Cidade, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button id="btnSubmitModal" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
    </div>
}

<script>
    $('#formEndereco').submit(function (e) {
        if (!$("#formEndereco").valid()) {
            e.preventDefault();
            $('#btnSubmitModal').button('reset');
            return false;
        }

        return true;
    });

    $.validator.unobtrusive.parse($("#formEndereco"));
    inicializeValidacaoFormulario($("#formEndereco"));
</script>