@model Fashion.ERP.Web.Areas.Comum.Models.EnderecoModel

@{
    Layout = null;
}

<div class="row">
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Pessoa)
    <div class="form-group">
        @Html.LabelForRequired(x => x.TipoEndereco)
        <div class="controls">
            @Html.DropDownListFor(p => p.TipoEndereco, Model.TipoEndereco.ToSelectList())
            @Html.ValidationMessageFor(x => x.TipoEndereco, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.Logradouro)
        <div class="controls">
            @Html.EditorFor(x => x.Logradouro)
            @Html.ValidationMessageFor(x => x.Logradouro, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.Numero)
        <div class="controls">
            @Html.EditorFor(x => x.Numero)
            @Html.ValidationMessageFor(x => x.Numero, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.Complemento)
        <div class="controls">
            @Html.EditorFor(x => x.Complemento)
            @Html.ValidationMessageFor(x => x.Complemento, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.Bairro)
        <div class="controls">
            @Html.EditorFor(x => x.Bairro)
            @Html.ValidationMessageFor(x => x.Bairro, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.Cep)
        <div class="controls">
            @Html.EditorFor(x => x.Cep)
            @Html.ValidationMessageFor(x => x.Cep, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Estado", new { @class = "control-label required-label"})
        <div class="controls">
            @Html.DropDownList("Uf", null, "-- Selecione --", new{ id = "estado-option", @class = "input-large"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.Cidade)
        <div class="controls">
            @Html.DropDownList("Cidade", null, "-- Selecione --", new{ id = "cidade-option", @class = "input-large"})
            @Html.ValidationMessageFor(x => x.Cidade, null, new { @class="help-block" })
        </div>
    </div>
</div>