@model Fashion.ERP.Web.Areas.Compras.Models.TransportadoraModel

@using (Html.BeginForm(MVC.Compras.Transportadora.Editar(), FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)
    @Html.Partial("_NovoOuEditar", Model)

    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Endereço", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "Endereco", new { Area = "Comum", pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Contato", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "Contato", new { Area = "Comum", pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Informações Bancárias", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "InformacaoBancaria", new { Area = "Comum", pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>

    @Html.FormActionAuth(this.IsEditar(), MVC.Compras.Transportadora.Excluir(Model.Id))
}

@{Html.RenderPartial("_ConfirmDelete");}

<div id="modal-endereco" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.Endereco.Novo(Model.Id.GetValueOrDefault()), "#modal-endereco", "formEndereco"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Endereço</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-contato" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.Contato.Novo(Model.Id.GetValueOrDefault()), "#modal-contato", "formContato"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Contato</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-informacao-bancaria" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.InformacaoBancaria.Novo(Model.Id.GetValueOrDefault()), "#modal-informacao-bancaria", "formInformacaoBancaria"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Informação Bancária</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_ConfirmDelete");
}