@using Fashion.ERP.Web.Areas.Almoxarifado.Models
@model MaterialModel

@{
    var helper = new UrlHelper(Request.RequestContext);
    var urlFoto = string.Empty;
    var temFoto = Model.FotoNome != null && Model.FotoId.HasValue;

    if (temFoto)
    {
        urlFoto = helper.RouteUrl(MVC.Arquivo.Imagens(Model.FotoId.Value).GetRouteValueDictionary());
    }
}

@using (Html.BeginForm((ActionResult)ViewData["FormResult"], FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Ativo)
    
    <fieldset>
        <legend><small>Dados do Material</small></legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Referencia)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @if (this.IsEditar())
                        {
                            @Html.HiddenFor(x => x.Referencia)
                            @Html.UneditableTextBoxFor(x => x.Referencia, new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.Referencia, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Referencia, null, new { @class = "help-block" })
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Descricao)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Referencia, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Detalhamento)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextAreaFor(x => x.Detalhamento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Detalhamento, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.UnidadeMedida)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownList("UnidadeMedida", null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Detalhamento, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Categoria)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.Categoria, null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Categoria, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Subcategoria)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.Subcategoria, null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Subcategoria, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Familia)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.Familia, null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Familia, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.MarcaMaterial)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.MarcaMaterial, null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.MarcaMaterial, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Ncm)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.Ncm, new { data_mask = "99999999", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Ncm, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Aliquota)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.EditorFor(x => x.Aliquota, "numeric")
                        @Html.ValidationMessageFor(x => x.Aliquota, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.GeneroFiscal)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.GeneroFiscal, null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.GeneroFiscal, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.TipoItem)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.TipoItem, null, "-- Selecione --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.TipoItem, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.PesoBruto)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.EditorFor(x => x.PesoBruto, "numeric")
                        @Html.ValidationMessageFor(x => x.PesoBruto, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.PesoLiquido)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.EditorFor(x => x.PesoLiquido, "numeric")
                        @Html.ValidationMessageFor(x => x.PesoLiquido, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.OrigemSituacaoTributaria)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(x => x.OrigemSituacaoTributaria, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.OrigemSituacaoTributaria, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.CodigoBarra)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.CodigoBarra, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.CodigoBarra, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Localizacao)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.Localizacao, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Localizacao, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelForRequired(x => x.FotoNome)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.HiddenFor(x => x.FotoId)
                        <div class="clearfix">
                            <div class="fileinput @(temFoto ? "fileinput-exists" : "fileinput-new")" data-provides="fileinput" data-crop="crop">
                                <div class="thumbnail" data-trigger="fileinput">
                                    <img id="imagem-avatar" src="@(temFoto ? urlFoto : "/Content/images/no_image.jpg")" style="width: 150px; height: 150px;" />
                                </div>
                                <div>
                                    <span class="btn-default btn btn-file">
                                        <span class="fileinput-new">Novo</span>
                                        <span class="fileinput-exists">Alterar</span>
                                        <input type="file" name="foto" />
                                        @Html.HiddenFor(x => x.FotoNome)
                                    </span>
                                    <a href="javascript:void(0)" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                                </div>
                            </div>
                        </div>

                        <div class="progress" style="display: none">
                            <div class="bar"></div>
                        </div>
                        @Html.ValidationMessageFor(x => x.FotoNome, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="form-group form-group-sm">
                    @Html.Label("ReferenciaExterna", "Referência Externa", new { @class = "control-label col-sm-2 col-lg-2" })
                    <div class="col-sm-8 col-md-8 col-lg-9">
                        <button id="adicionar-referencia-externa" class="btn btn-sm btn-default" type="button">Adicionar</button>
                                @(Html.Kendo().Grid((IEnumerable<ReferenciaExternaModel>)ViewBag.ReferenciaExternas)
                                      .Name("grid-referencias")
                                      .Columns(columns =>
                                      {
                                          columns.Bound(x => x.Referencia);
                                          columns.Bound(x => x.Descricao);
                                          columns.Bound(x => x.Preco).Format("{0:C}");
                                          columns.Bound(x => x.NomeFornecedor);
                                          columns.Bound(x => x.Id)
                                              .ClientTemplate("<a href='/Almoxarifado/Material/RemoverReferenciaExterna/#= Id #' onclick='RemoverReferenciaExterna(this, event)' class=' delete btn btn-default btn-sm'><span class='glyphicon glyphicon-minus'></span></a>")
                                              .Title("")
                                              .Width(30);
                                      }).DataSource(s => s.Ajax()
                                          .Read(r => r.Action("LerReferenciaExternas", "Material").Type(HttpVerbs.Get))
                                      ))
                            
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    <div id="bordado">
        <fieldset>
            <legend><small>Dados do Bordado</small></legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.BordadoDescricao)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.BordadoDescricao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.BordadoDescricao, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.BordadoPontos)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.BordadoPontos, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.BordadoPontos, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.BordadoAplicacao)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.BordadoAplicacao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.BordadoAplicacao, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.BordadoObservacao)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.BordadoObservacao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.BordadoObservacao, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
            </div>     
        </fieldset>
    </div>     

    <div id="tecido">
        <fieldset>
            <legend><small>Dados do Tecido</small></legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.TecidoComposicao)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.TecidoComposicao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TecidoComposicao, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.TecidoArmacao)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.TecidoArmacao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TecidoArmacao, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.TecidoGramatura)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.TecidoGramatura, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TecidoGramatura, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.TecidoLargura)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.TecidoLargura, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TecidoLargura, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        @Html.LabelForRequired(x => x.TecidoRendimento)
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @Html.TextBoxFor(x => x.TecidoRendimento, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TecidoRendimento, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
            </div>     
        </fieldset>
    </div>   

    <div class="row">
        <div class="col-sm-6 form-group-sm"> 
            <div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
                <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                @if (this.IsEditar())
                {
                    @Html.ExcluirAuth(MVC.Almoxarifado.Material.Excluir(Model.Id))
                }
            </div>
        </div>     
    </div>
}

@{Html.RenderPartial("_RecortarImagem");}

<script>
    
    $(document).ready(function () {
        var materialId = function () {
            var url = "/Almoxarifado/Material/VerificarReferencia?referencia=" + $(this).val();
            $.getJSON(url, function (result) {
                console.log(JSON.stringify(result));
                if (result.existeMaterial) {
                    alert("Referência já utilizada no cadastro do material.");
                    document.location.href = "/Almoxarifado/Material/Editar/" + result.materialId;
                }
                // Criar uma tela modal e perguntar ao usuário o q fazer
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        };
        $("#Referencia").on("change", materialId);
    });

    $(function() {

        $.ajaxSetup({ cache: false });

        // Seleciona o conteúdo do input ao receber focus
        $('.k-input').on('focus', function() {
            var input = $(this);
            setTimeout(function() { input.select(); });
        });

        $('#Descricao').on("keypress", function() {
            var $descricao = $(this);
            var $detalhamento = $('#Detalhamento');
            var detVal = $detalhamento.val();
            var desVal = $descricao.val();

            if (detVal == desVal.substring(0, desVal.length - 1)) {
                $detalhamento.val($descricao.val());
            }
        });
        
        // Categoria
        var bordado = $('#bordado');
        var tecido = $('#tecido');

        // Limpa os formulários
        var escondeTecido = function () {
            tecido.find(':input').each(function () { $(this).val(''); });
            tecido.hide('slow');
        };

        var escondeBordado = function () {
            bordado.find(':input').each(function () { $(this).val(''); });
            bordado.hide('slow');
        };

        var onChangeCategoria = function($categoria) {
            var categoriaId = $categoria.val();

            if (categoriaId == '') {
                escondeTecido();
                escondeBordado();
                return;
            }

            var url = '/Almoxarifado/Categoria/GeneroCategoria/' + categoriaId;
            $.get(url, function (data) {
                if (data.Error) {
                    alert(data.Error);
                    return;
                }

                switch (data.GeneroCategoria) {
                case 'Bordado':
                    bordado.show('slow');
                    escondeTecido();
                    break;
                case 'Tecido':
                    tecido.show('slow');
                    escondeBordado();
                    break;
                default:
                    escondeTecido();
                    escondeBordado();
                }
            });
        };
        
        // Marca o NCM por mudar o valor
        $('#Ncm').on("change", function () {
            $(this).data("valuechanged", true);
        });
        
        $('#Categoria').on("change", function () {
            
            // Preenche o combo de subcategoria de acordo com a categoria escolhida
            var subcategoria = $('#Subcategoria');
            subcategoria.empty();
            subcategoria.append($('<option />').text('-- Selecione --'));

            var categoriaId = $(this).val();
            if (categoriaId != '') {
                var url = '/Almoxarifado/Subcategoria/Subcategorias/' + categoriaId;
                $.getJSON(url, function (result) {
                    $.each(result, function (index, item) {
                        var option = $('<option />').val(item.Id).text(item.Nome);
                        subcategoria.append(option);
                    });
                }).fail(function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                });
                

                // Mostra ou esconde os campos Tecido/Bordado
                onChangeCategoria($(this));
                
                @if (this.IsNovo())
                {
                    // Alterar o NCM automaticamente apenas no incluir
                    <text>
                    // Preenche o NCM da categoria informada
                    if ($('#Ncm').data("valuechanged") != true) {
                        $.getJSON('/Almoxarifado/Categoria/NcmCategoria/' + categoriaId, function(result) {

                            if (result.Error) {
                                alert(result.Error);
                                return;
                            }

                            $('#Ncm').val(result.Ncm);

                        }).fail(function(jqXhr, textStatus, errorThrown) {
                            alert(errorThrown);
                        });
                    }
                    </text>
                }
            }
        });

        // Dispara ao inicializar a tela
        onChangeCategoria($('#Categoria'));
    });
</script>


<div id="modal-referencias-externas" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Referência Externa</h3>
            </div>
            <form id="form-cadastrar-referencias-externas" class="form-horizontal">
                <div id="modal-body-referencias-externas" class="modal-body" style="overflow-y: hidden;">
                    <div class="form-group form-group-sm">
                        @Html.Label("Referência", new { @class = "control-label col-sm-4 col-md-3" })
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <input type="text" name="Referencia" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        @Html.Label("Descrição", new { @class = "control-label col-sm-4 col-md-3" })
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <input id="descricao-referencia-externa" type="text" name="Descricao" class="form-control" />
                        </div>
                    </div> 
                    <div class="form-group form-group-sm">
                        @Html.Label("Cod. Barras", new { @class = "control-label col-sm-4 col-md-3" })
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            <input type="text" name="CodigoBarra" class="form-control" />
                        </div>
                    </div> 
                    <div class="form-group form-group-sm">
                        @Html.Label("Preço", new { @class = "control-label col-sm-4 col-md-3" })
                        <div class="col-sm-8 col-md-8 col-lg-7">
                            @(Html.Kendo().NumericTextBox().Name("Preco")
                                  .Format("c")
                                  .Min(0)
                                  .HtmlAttributes(new { @class = "currency" }))
                        </div>
                    </div>  
                    <div class="form-group form-group-sm">
                        @Html.Label("Fornecedor", new { @class = "control-label col-sm-4 col-md-3" })
                        <div class="col-sm-8 col-md-8 col-lg-7  ">
                            @Html.Hidden("Fornecedor")
                            <div class="col-lg-3 col-sm-5 col-md-4 padding0">
                                <div class="input-group">
                                    <input id="codigo-fornecedor" class="numeric-only form-control" type="text" style="width: 70%;">
                                    <span class="input-group-btn pull-left">
                                        <button id="pesquisar-fornecedor" class="btn btn-default btn-sm " type="button" data-toggle="modal" data-target="#modal-fornecedor">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12 padding0">
                                <input id="descricao-fornecedor" class="form-control" readonly="" data-toggle="tooltip">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button id="submit-salvar-referencias-externas" class="btn btn-primary" type="button">Salvar</button>
            </div>
        </div>
    </div>
</div>


@*<!-- CADASTRO DE REFERÊNCIAS EXTERNAS -->
<div id="modal-referencias-externas" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Referência externa</h3>
    </div>
    <form id="form-cadastrar-referencias-externas" class="form-horizontal">
        <div id="modal-body-referencias-externas" class="modal-body">
            <div class="form-group">
                <label class="control-label">Referência</label>
                <div class="controls">
                    <input type="text" name="Referencia" class="input-small" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Descrição</label>
                <div class="controls">
                    <input id="descricao-referencia-externa" type="text" name="Descricao" class="input-medium" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Cod. Barras</label>
                <div class="controls">
                    <input type="text" name="CodigoBarra" class="input-medium" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Preço</label>
                <div class="controls">
                    @(Html.Kendo().NumericTextBox().Name("Preco")
                          .Format("c")
                          .Min(0)
                          .HtmlAttributes(new { @class = "currency input-small" }))
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Fornecedor</label>
                <div class="controls">
                    <div class="input-group">
                        @Html.Hidden("Fornecedor")
                        <input id="codigo-fornecedor" class="input-small" type="text" />
                        <button id="pesquisar-fornecedor" class="btn" type="button"><i class="icon-search"></i></button>
                        <span id="descricao-fornecedor" class="add-on"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button id="submit-salvar-referencias-externas" class="btn btn-primary" type="button">Salvar</button>
        </div>
    </form>
</div>*@

<script>
    $(function () {
        
        $('#adicionar-referencia-externa').on('click', function () {
            $('#descricao-referencia-externa').val($('#Descricao').val());
            $('#modal-referencias-externas').modal({
                keyboard: false,
                backdrop: 'static'
            }).on('hide', function () {
                $('.modal').not(this).modal('hide');
            });
        });
        
        $('#submit-salvar-referencias-externas').on('click', function () {

            var url = '/Almoxarifado/Material/AdicionarReferenciaExterna';

            var $form = $('#form-cadastrar-referencias-externas');
            var formData = $form.serialize();
            
            $.post(url, formData, function (data) {
                
                if (data != '') {
                    alert(data);
                    return;
                }
                
                var grid = $('#grid-referencias').data("kendoGrid");
                grid.dataSource.read();
                $('#modal-referencias-externas').modal('hide');
                clearForm($form);
            });
        });
        
    });
    // Referência Externa
    function RemoverReferenciaExterna(a, e) {
        e.preventDefault();
        var url = $(a).attr('href');

        $.post(url, function () {
            var grid = $('#grid-referencias').data("kendoGrid");
            grid.dataSource.read();
        });
    }
</script>
@{
    Html.RenderAction("Pesquisar", "Fornecedor", new { area = "Comum" });
}