@using Fashion.ERP.Web.Areas.Almoxarifado.Models
@model PesquisaMaterialModel

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Almoxarifado.Material.Novo(), new { @class = "btn btn-primary" })
</div>

@Html.ValidationSummaryEx()
@using (Html.BeginForm(MVC.Almoxarifado.Material.Index(), FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePesquisar">Pesquisar
                </a>
            </div>
            <div id="collapsePesquisar" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Referencia)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.TextBoxFor(x => x.Referencia, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Descricao)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Ativo)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.EditorFor(x => x.Ativo)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.CodigoBarra)
                                <div class="col-sm-8 col-md-8 col-lg-7  ">
                                    @Html.TextBoxFor(x => x.CodigoBarra, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Familia)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.DropDownListFor(x => x.Familia, null, "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.MarcaMaterial)
                                <div class="col-sm-8 col-md-8 col-lg-7  ">
                                    @Html.DropDownListFor(x => x.MarcaMaterial, null, "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Categoria)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.DropDownListFor(x => x.Categoria, null, "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Subcategoria)
                                <div class="col-sm-8 col-md-8 col-lg-7  ">
                                    @Html.DropDownListFor(x => x.Subcategoria, null, "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.HiddenFor(x => x.ModoConsulta)
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input name="btn-ModoConsulta" type="radio" value="listagem"/>Listagem
                                    </label>
                                    <label class="btn btn-default">
                                        <input name="btn-ModoConsulta" type="radio" value="impressao"/>Impressão
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10 col-md-11">
                                <div id="row-imprimir" style="display: none">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.TipoRelatorio, new { @class = "control-label " })
                                            <div class="col-sm-8 col-md-8 col-lg-7  ">
                                                @Html.DropDownList("TipoRelatorio", null, "--Selecione--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.AgruparPor)
                                            <div class="col-sm-8 col-md-8 col-lg-7  ">
                                                @Html.DropDownList("AgruparPor", null, "--Selecione--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.OrdenarPor)
                                            <div class="col-sm-8 col-md-8 col-lg-7">
                                                @Html.DropDownList("OrdenarPor", null, "--Selecione--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.OrdenarEm)
                                            <div class="col-sm-8 col-md-8 col-lg-7">
                                                <select name="OrdenarEm" class="form-control">
                                                    <option value="asc">Ascendente</option>
                                                    <option value="desc">Descendente</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-md-offset-1 col-sm-2 col-md-1 form-group">
                                <button id="pesquisar-relatorio" class="btn btn-default pull-right" type="button" data-loading-text="Aguarde..." style="display: none;">Pesquisar</button>
                                <button id="pesquisar-grid-ajax" class="btn btn-default pull-right" type="submit" data-loading-text="Aguarde...">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="pdf"></div>

<div class="table-responsive">
    @(Html.Kendo().Grid<GridMaterialModel>()
          .Name("Grid")    
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(true)
              .PageSize(15)
              .Read(read => read.Action("ObtenhaListaGridModel", "Material").Data("ObtenhaModelJsonObject"))
              .Events(events => events.Error("onKendoGridError"))
          )
          .Columns(columns =>
          {
              columns.Bound(x => x.Referencia);
              columns.Bound(x => x.Descricao);
              columns.Bound(x => x.MarcaMaterial);
              columns.Bound(x => x.Categoria);
              columns.Bound(x => x.Subcategoria);
              columns.Bound(x => x.Familia);
              columns.Bound(x => x.UnidadeMedida);
              if (!Html.PossuiPermissao( MVC.Almoxarifado.Material.EditarSituacao()))
              {
                  columns.Template(@<text></text>).ClientTemplate( "#if(Ativo) {# SIM #} else {# NÃO #}#").Title("Ativo");
              }
              columns.Bound(x => x.Foto).ClientTemplate( "#if(Foto != null  && Foto != '') {#" + 
                                                         "<a href='" + "#= Foto #" + "'' data-lightbox='foto' title='Material'><img src='" + "#= Foto #" + "' class='img-rounded' style='width: 48px; height: 48px;'/></a>"+ 
                                                         "#}#").Width(60).Sortable(false);
              columns.Template(@<text></text>).ClientTemplate(@Html.ActionLinkAuth("Editar", "Editar", "Material", new {Id = "#= Id #", Area = "Almoxarifado"}, new {@class = "btn btn-primary"}).ToHtmlString()).Width(80).Title("");               
              columns.Template(@<text></text>).ClientTemplate(@Html.ActionLinkAuth("Custo", "MaterialCusto", "Material", new {Id = "#= Id #", Area = "Almoxarifado"}, new {@class = "btn btn-primary"}).ToHtmlString()).Width(80).Title("");               
              columns.Template(@<text></text>).ClientTemplate( "#if(Ativo) {#" + 
                                                               @Html.ActionLinkAuth("Inativar", "EditarSituacao", "Material", new {Id = "#= Id #", Area = "Almoxarifado"}, new {@class = "btn btn-small btn-danger btn-editar-situacao"}).ToHtmlString() +
                                                               "#} else {#" +
                                                               @Html.ActionLinkAuth("Ativar", "EditarSituacao", "Material", new {Id = "#= Id #", Area = "Almoxarifado"}, new {@class = "btn btn-small btn-success btn-editar-situacao"}).ToHtmlString() +
                                                               "#}#").Width(60);
          })
          .Resizable(resize => resize.Columns(true))
          .Reorderable(reorder => reorder.Columns(true))
          .Pageable()
          .Sortable()
          .Groupable()   
          )
</div>

<script>
    $(function () {

        // Seleciona o modo de consulta
        // Seleciona o modo de consulta
        $('button[name=btn-ModoConsulta]').on('click', function() {

            var $ModoConsulta = $('#ModoConsulta');

            if (this.value == 'impressao') {
                $ModoConsulta.val('Imprimir');

                $('#row-imprimir').show();
                $('#pesquisar-relatorio').show();
                $('#pesquisar-grid').hide();

            } else {
                $ModoConsulta.val('Listar');
                $("#pdf").html("");
                $("#pdf").attr("style", "");
                $("#Grid").show();
                $('#row-imprimir').hide();
                $('#pesquisar-relatorio').hide();
                $('#pesquisar-grid').show();

            }
        });
    });
        
        // Redefine o modo do agrupamento
        $('#TipoRelatorio').on("change", function() {
            var $this = $(this);
            var $AgruparPor = $('#AgruparPor');
            var hasDefaultOption = $('#AgruparPor option:first').val() == '';
            
            switch($this.val()) {
                case 'Detalhado':
                    $AgruparPor.attr('disabled', 'disabled');
                    break;
                case 'Listagem':
                    $AgruparPor.removeAttr('disabled');
                    
                    if (!hasDefaultOption) {
                        var option = $AgruparPor.prepend($('<option value="--Selecione--" />'));
                        $AgruparPor.val(option);
                    }
                    break;
                case 'Sintético':
                    $AgruparPor.removeAttr('disabled');
                    
                    if (hasDefaultOption) {
                        $('#AgruparPor option:first').remove();
                    }
                    break;
            }
        });
        
        // Preenche o combo de subcategoria de acordo com a categoria escolhida
        $('#Categoria').on("change", function () {
            var subcategoria = $('#Subcategoria');
            subcategoria.empty();
            subcategoria.append($('<option />').text("-- Selecione --"));

            var idCategoria = $(this).val();
            if (idCategoria) {
                var url = '/Almoxarifado/Subcategoria/Subcategorias/' + idCategoria;
                $.getJSON(url, function (result) {
                    $.each(result, function (index, item) {
                        subcategoria.append($('<option />').val(item.Id).text(item.Nome));
                    });
                }).fail(function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                });
            }
        });
    })
</script>
