@model Fashion.ERP.Web.Areas.Almoxarifado.Models.PesquisaMaterialModel

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.Almoxarifado.Material.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@using (Html.BeginForm(MVC.Almoxarifado.Material.Index(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{
    @Html.AntiForgeryToken()
    <div id="accordion3" class="panel-group accordion accordion-semi">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" href="#pesquisar" data-parent="#accordion3" data-toggle="collapse">
                        <i class="fa fa-angle-right"></i>
                        Pesquisar
                    </a>
                </h4>
            </div>
            <div id="pesquisar" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <div class="content">

                        <div class="col-xs-12">
                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Referencia, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.Referencia, new { @class="form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Descricao, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.Descricao, new { @class="form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Ativo, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(x => x.Ativo, new { @class="form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="line-separate topOffset-15"></div>

                        <div class="col-xs-12">
                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.CodigoBarra, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.CodigoBarra, new { @class="form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Ncm, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.Ncm, new { @class="form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Localizacao, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(x => x.Localizacao, new { @class="form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.OrigemSituacaoTributaria, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("OrigemSituacaoTributaria", null, "-- Selecione --", new { @class="form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="line-separate"></div>

                        <div class="col-xs-12">

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Familia, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("Familia", "-- Selecione --")
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.TipoItem, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("TipoItem", null, "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.GeneroFiscal, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("GeneroFiscal", null, "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="line-separate"></div>

                        <div class="col-xs-12">

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.UnidadeMedida, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("UnidadeMedida", "-- Selecione --")
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.MarcaMaterial, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("MarcaMaterial", "-- Selecione --")
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Categoria, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("Categoria", "-- Selecione --")
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6">
                                @Html.LabelForRequired(x => x.Subcategoria, new { @class="col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownList("Subcategoria", "-- Selecione --")
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>

                        <div class="well clearfix">

                            <div class="col-sm-12">
                                @Html.HiddenFor(x => x.ModoConsulta)
                        <div class="btn-group spacer" data-toggle="buttons-radio">
                            <button name="btn-ModoConsulta" class="btn btn-success active btn-rad" type="button" value="listagem">Listagem</button>
                            <button name="btn-ModoConsulta" class="btn btn-success btn-rad" type="button" value="impressao">Impressão</button>
                        </div>

                            </div>
                            <div class="col-sm-12 form-group spacer spacer-bottom">

                                <div id="row-imprimir" class="row" style="display: none;">
                                    <div class="col-sm-4">
                                        @Html.LabelForRequired(x => x.TipoRelatorio, new { @class="col-sm-5 control-label" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("TipoRelatorio")
                                    </div>

                                    </div>
                                    <div class="col-sm-4">
                                        @Html.LabelForRequired(x => x.AgruparPor, new { @class="col-sm-5 control-label" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("AgruparPor", null, "", new { disabled = "disabled" })
                                    </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group spacer spacer-bottom">
                                <div class="col-sm-4">
                                    @Html.LabelForRequired(x => x.OrdenarPor, new { @class="col-sm-5 control-label" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("OrdenarPor", "")
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    @Html.LabelForRequired(x => x.OrdenarEm, new { @class="col-sm-5 control-label" })
                                    <div class="col-sm-7">
                                        <select name="OrdenarEm">
                                            <option value="asc">Ascendente</option>
                                            <option value="desc">Descendente</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="line-separate spacer"></div>
                            <div class="col-sm-12">
                                <button id="pesquisar-relatorio" class="btn btn-primary" type="button" data-loading-text="Aguarde..." style="display: none;"><i class="fa fa-search"></i>Pesquisar</button>
                                <button id="pesquisar-grid" class="btn btn-primary" type="submit" data-loading-text="Aguarde..."><i class="fa fa-search"></i>Pesquisar</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}
<div id="pdf"></div>
@(Html.Kendo().Grid(Model.Grid)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Referencia);
        columns.Bound(x => x.Descricao);
        columns.Bound(x => x.MarcaMaterial);
        columns.Bound(x => x.Categoria);
        columns.Bound(x => x.Subcategoria);
        columns.Bound(x => x.Familia);
        columns.Bound(x => x.UnidadeMedida);
        columns.Template(item => (!string.IsNullOrWhiteSpace(item.Foto) ? "<img src=\"" + item.Foto + "\" class=\"img-rounded\" style=\"width: 48px; height: 48px;\"/>" : string.Empty)).Width(60);
        columns.Template(item => Html.EditarAuth(MVC.Almoxarifado.Material.Editar(item.Id))).Width(80);
        columns.Template(item => Html.EditarSituacaoAuth(MVC.Almoxarifado.Material.EditarSituacao(item.Id), item.Ativo)).Width(80);
    })
)
<script>
    $(function () {
        // Seleciona o modo de consulta
        $('button[name=btn-ModoConsulta]').on('click', function () {

            var $ModoConsulta = $('#ModoConsulta');

            if (this.value == 'impressao') {
                $ModoConsulta.val('Imprimir');

                $('#row-imprimir').show();
                $('#pesquisar-relatorio').show();
                $('#pesquisar-grid').hide();

            } else {
                $ModoConsulta.val('Listar');

                $('#row-imprimir').hide();
                $('#pesquisar-relatorio').hide();
                $('#pesquisar-grid').show();

            }
        });

        // Redefine o modo do agrupamento
        $('#TipoRelatorio').on("change", function () {
            var $this = $(this);
            var $AgruparPor = $('#AgruparPor');
            var hasDefaultOption = $('#AgruparPor option:first').val() == '';

            switch ($this.val()) {
                case 'Detalhado':
                    $AgruparPor.attr('disabled', 'disabled');
                    break;
                case 'Listagem':
                    $AgruparPor.removeAttr('disabled');

                    if (!hasDefaultOption) {
                        var option = $AgruparPor.prepend($('<option />'));
                        $AgruparPor.val(option);
                    }
                    break;
                case 'Sintético':
                    $AgruparPor.removeAttr('disabled');

                    if (hasDefaultOption) {
                        $('#AgruparPor option:first').remove();
                    }
                    break;
            }
        });

        // Preenche o combo de subcategoria de acordo com a categoria escolhida
        $('#Categoria').on("change", function () {
            var subcategoria = $('#Subcategoria');
            subcategoria.empty();
            subcategoria.append($('<option />').text("-- Selecione --"));

            var idCategoria = $(this).val();
            if (idCategoria) {
                var url = '/Almoxarifado/Subcategoria/Subcategorias/' + idCategoria;
                $.getJSON(url, function (result) {
                    $.each(result, function (index, item) {
                        subcategoria.append($('<option />').val(item.Id).text(item.Nome));
                    });
                }).fail(function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                });
            }
        });
    })
</script>
