@model Fashion.ERP.Web.Areas.Compras.Models.AutorizacoesModel
@using (Html.BeginForm(MVC.Compras.Autorizacoes.Autorizar(), FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Procedimento)

    <fieldset>
        <legend><small>Dados do Recebimento de Compra</small></legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Procedimento)
                    <div class="col-sm-8 col-md-8 col-lg-7 ">
                        <div class="form-control-static no-gutter">
                            @Html.ValueFor(x => x.Procedimento)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class ="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Funcionarios)
                    <div class="col-sm-8 col-md-8 col-lg-7 ">
                        @Html.HiddenFor(x => x.Funcionarios, new { id = "funcionario" })
                        <div class="col-lg-3 col-sm-5 col-md-4 padding0">
                            <div class="input-group">
                                <input id="codigo-funcionario" class="numeric-only form-control" type="text" style="width: 70%;">
                                <span class="input-group-btn pull-left">
                                    <button id="pesquisar-funcionario" class="btn btn-default btn-sm " type="button" data-toggle="modal" data-target="#modal-funcionario">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12 padding0">
                            <input id="descricao-funcionario" class="form-control" readonly="" data-toggle="tooltip">
                        </div>
                        @Html.ValidationMessageFor(x => x.Funcionarios, string.Empty, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.Label("Funcionários", new { @class="control-label col-sm-4 col-md-3"})
                    <div class="col-sm-8 col-md-8 col-lg-7 ">
                        <table id="table-funcionario" class="table table-striped table-responsive" >
                            <tbody>
                                @if (Model.Funcionarios != null)
                                {
                                    for (int i = 0; i < Model.Funcionarios.Count; i++)
                                    {
                                        var funcionario = Model.Funcionarios[i];
                                        <tr>
                                            <td>
                                                @ViewBag.FuncionariosDicionario[funcionario]
                                                <input type="hidden" name="Funcionarios" value="@funcionario"/>
                                            </td>
                                            <td><a href="javascript:void(0)" onclick="Delete(this)"><i class="icon-remove"></i></a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
                    <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            </div>
        </div>     
    </div>

    <script>
        $(document).ready(function () {

            $('#btn-add').on('click', function () {

                var funcionarioId = $('#funcionario').val();
                var funcionario = $('#descricao-funcionario').text();

                // Validar
                if (funcionarioId == '') {
                    $('#funcionario').addClass('input-validation-error');
                    alert('Selecione um funcionário');
                    $('#codigo-funcionario').focus();
                    return;
                }

                // Verificar se já está na lista
                var cadastrado = false;
                $('input[name=Funcionarios]').each(function () {

                    var funcionarioVal = $(this).val();

                    if (funcionarioVal == funcionarioId) {

                        alert('O funcionário escolhido já está cadastrado.');
                        cadastrado = true;
                        return;
                    }
                });

                if (cadastrado == false) {
                    $('#table-funcionario tbody').append(
                        '<tr><td>' + funcionario + '<input type="hidden" name="Funcionarios" value="' + funcionarioId + '"/></td>'+
                        '<td><a href="javascript:void(0)" onclick="Delete(this)"><i class="icon-remove"></i></a></td></tr>');
                    
                    $('#funcionario').val('').trigger('change');
                    $('#codigo-funcionario').val('').focus();
                    $('#descricao-funcionario').text('');
                }
            });
        });

        function Delete(a) {
            var row = $(a).parents('tr:first');
            row.fadeTo('fast', 0, function () {
                row.remove();
            });
        }
    </script>
}

@{
    Html.RenderPartial("_ConfirmDelete");
    Html.RenderAction("Pesquisar", "Funcionario", new { area = "Comum" });
}