@model Fashion.ERP.Web.Areas.Financeiro.Models.ContaBancariaModel

<fieldset>
    <legend><small>Dados da Conta Bancária</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.TipoContaBancaria)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.DropDownListFor(x => x.TipoContaBancaria, Model.TipoContaBancaria.ToSelectList(),new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TipoContaBancaria, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Agencia)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Agencia, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Agencia, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.NomeAgencia)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.NomeAgencia, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NomeAgencia, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Conta)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Conta, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Conta, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Gerente)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Gerente, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Gerente, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Abertura)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Abertura)
                    @Html.ValidationMessageFor(x => x.Abertura, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Telefone)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Telefone, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Telefone, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Banco)
                <div class="col-sm-8 col-md-8 col-lg-7 ">
                    @Html.HiddenFor(x => x.Banco)
                    <div class="col-lg-3 col-sm-5 col-md-4 padding0">
                        <div class="input-group">
                            <input id="codigo-banco" class="numeric-only form-control" type="text" style="width: 70%;">
                            <span class="input-group-btn pull-left">
                                <button id="pesquisar-banco" class="btn btn-default btn-sm " type="button" data-toggle="modal" data-target="#modal-banco">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 padding0">
                        <input id="descricao-banco" class="form-control" readonly="" data-toggle="tooltip">
                    </div>
                    @Html.ValidationMessageFor(x => x.Banco, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>

@Html.FormActionAuth(this.IsEditar(), MVC.Financeiro.ContaBancaria.Excluir(Model.Id))
