@model Fashion.ERP.Web.Areas.Comum.Models.DepartamentoProducaoModel

<fieldset>
    <legend><small>Dados do Departamento de Produção</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Nome)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Nome, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Criacao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Criacao)
                    @Html.ValidationMessageFor(x => x.Criacao, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Producao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Producao)
                    @Html.ValidationMessageFor(x => x.Producao, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>

@Html.FormActionAuth(this.IsEditar(), MVC.Comum.DepartamentoProducao.Excluir(Model.Id))
