@using Fashion.ERP.Domain.Comum
@model Fashion.ERP.Web.Areas.Comum.Models.ClienteModel

<fieldset>
    <legend>Dados do Cliente</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Nome)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.ClienteAreaInteresse)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.DropDownListFor(x => x.ClienteAreaInteresse, null, "-- Selecione --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ClienteAreaInteresse, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.ClienteDataValidade)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.EditorFor(x => x.ClienteDataValidade)
                    @Html.ValidationMessageFor(x => x.ClienteDataValidade, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Site)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Site, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Site, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.ClienteObservacao)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextAreaFor(x => x.ClienteObservacao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ClienteObservacao, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.TipoPessoa)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    <label class="radio-inline"><input name="TipoPessoa" id="radioFisica" type="radio" value="Fisica" checked="checked" />Física</label>
                    <label class="radio-inline"><input name="TipoPessoa" id="radioJuridica" type="radio" value="Juridica" />Jurídica</label>
                    <label class="radio-inline"><input name="TipoPessoa" id="radioExtrangeira" type="radio" value="Estrangeira" />Estrangeira</label>
                </div>
            </div>
        </div>
    </div>
    <div id="fisica">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Cpf)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.Cpf, new { data_mask = "999.999.999-99", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Cpf, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.DocumentoIdentidade)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.DocumentoIdentidade, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DocumentoIdentidade, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.OrgaoExpedidor)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.OrgaoExpedidor, new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.OrgaoExpedidor, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.DataNascimento)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.EditorFor(x => x.DataNascimento)
                        @Html.ValidationMessageFor(x => x.DataNascimento, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ClienteSexo)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.DropDownListFor(x => x.ClienteSexo, Model.ClienteSexo.ToSelectList(), "-- selecione --", new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ClienteSexo, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ClienteEstadoCivil)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.DropDownListFor(x => x.ClienteEstadoCivil, Model.ClienteEstadoCivil.ToSelectList(), "-- selecione --", new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ClienteEstadoCivil, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ClienteNomeMae)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.ClienteNomeMae, new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ClienteNomeMae, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ClienteProfissao)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.DropDownListFor(x => x.ClienteProfissao, null, "-- selecione --", new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ClienteProfissao, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="juridica">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Cnpj)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.Cnpj, new { data_mask = "99.999.999/9999-99", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Cnpj, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.NomeFantasia)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.NomeFantasia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NomeFantasia, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.InscricaoEstadual)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.InscricaoEstadual, new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.InscricaoEstadual, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.InscricaoMunicipal)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.InscricaoMunicipal, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.InscricaoMunicipal, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.InscricaoSuframa)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.InscricaoSuframa, new {  @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.InscricaoSuframa, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>       
    </div>
</fieldset>

<script>
    $(function() {
        $("#radioFisica").on("click", function () {
            $("#fisica").show('slow');
            $("#juridica").hide('slow');
            $("#radioFisica").focus();
        });
        $("#radioJuridica").on("click", function () {
            $("#fisica").hide('slow');
            $("#juridica").show('slow');
            $("#radioJuridica").focus();
        });
        $("#radioExtrangeira").on("click", function () {
            $("#fisica").hide('slow');
            $("#juridica").hide('slow');
            $("#radioExtrangeira").focus();
        });

        // Seleciona a pessoa ao carregar a página
        @switch (Model.TipoPessoa)
        {
            case TipoPessoa.Fisica:
                <Text>$("#radioFisica").click();</Text>
                break;
            case TipoPessoa.Juridica:
                <Text>$("#radioJuridica").click();</Text>
                break;
            case TipoPessoa.Exterior:
                <Text>$("#radioExtrangeira").click();</Text>
                break;
        }
        var verificarCpfCnpj = function () {
            var url = "/Comum/Cliente/VerificarCpfCnpj?cpfCnpj=" + $(this).val();
            $.getJSON(url, function (result) {
                console.log(JSON.stringify(result));
                if (result.existeCliente) {
                    alert("Já existe um cliente com este cpf/cnpj cadastrado no sistema.");
                    document.location.href = "/Comum/Cliente/Editar/" + result.pessoaId;
                } else if (result.existePessoa) {
                    if (confirm("Já existe uma pessoa com este cpf/cnpj cadastrada no sistema. Deseja usar os dados para este cadastro?")) {
                        document.location.href = "/Comum/Cliente/Editar/" + result.pessoaId;
                    } else {
                        document.location.href = "/Comum/Cliente";
                    }
                }
                // Criar uma tela modal e perguntar ao usuário o q fazer
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        };
        $("#Cpf").on("change", verificarCpfCnpj);
        $("#Cnpj").on("change", verificarCpfCnpj);
    })
</script>