@model Fashion.ERP.Web.Areas.Comum.Models.ClienteModel

@section css{@Styles.Render(Links.Bundles.Styles.FotoUpload)}
@section javascript{@Scripts.Render(Links.Bundles.Scripts.FotoUpload)}

@{
    var helper = new UrlHelper(Request.RequestContext);
    var urlFoto = string.Empty;
    var temFoto = Model.FotoNome != null && Model.FotoId.HasValue;

    if (temFoto)
    {
        urlFoto = helper.RouteUrl(MVC.Arquivo.Imagens(Model.FotoId.Value).GetRouteValueDictionary());
    }
}


@using (Html.BeginForm(MVC.Comum.Cliente.Editar(), FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)
    @Html.Partial("_NovoOuEditar", Model)
    <div class ="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelForRequired(x => x.FotoNome)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.HiddenFor(x => x.FotoId)
                    <div class="clearfix">
                        <div class="fileinput @(temFoto ? "fileinput-exists" : "fileinput-new")" data-provides="fileinput" data-crop="crop">
                            <div class="thumbnail" data-trigger="fileinput">
                                <img id="imagem-avatar" src="@(temFoto ? urlFoto : "/Content/images/no_image.jpg")" style="width: 150px; height: 150px;" />
                            </div>
                            <div>
                                <span class="btn-default btn btn-file">
                                    <span class="fileinput-new">Novo</span>
                                    <span class="fileinput-exists">Alterar</span>
                                    <input type="file" name="foto" />
                                    @Html.HiddenFor(x => x.FotoNome)
                                </span>
                                <a href="javascript:void(0)" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                            </div>
                        </div>
                    </div>

                    <div class="progress" style="display: none">
                        <div class="progress-bar"></div>
                    </div>
                    @Html.ValidationMessageFor(x => x.FotoNome, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Endereço", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "Endereco", new { pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Contato", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "Contato", new { pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Informações Bancárias", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "InformacaoBancaria", new { pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Referências", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "Referencia", new { pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="form-group form-group-sm">
                @Html.Label("Dependentes", new { @class = "control-label col-sm-2 col-lg-2" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @{ Html.RenderAction("Index", "Dependente", new { pessoaId = Model.Id }); }
                </div>
            </div>
        </div>
    </div>

    @Html.FormActionAuth(this.IsEditar(), MVC.Comum.Cliente.Excluir(Model.Id))
}

@{Html.RenderPartial("_ConfirmDelete");}

<div id="modal-endereco" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.Endereco.Novo(Model.Id.GetValueOrDefault()), "#modal-endereco", "formEndereco"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Endereço</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-contato" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.Contato.Novo(Model.Id.GetValueOrDefault()), "#modal-contato", "formContato"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Contato</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-informacao-bancaria" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.InformacaoBancaria.Novo(Model.Id.GetValueOrDefault()), "#modal-informacao-bancaria", "formInformacaoBancaria"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Informação Bancária</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-referencia" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.Referencia.Novo(), "#modal-referencia", "formReferencia"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Referência</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-dependente" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(MVC.Comum.Dependente.Novo(), "#modal-dependente", "formDependente"))
            {
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3>Dependente</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="/Content/images/ajax-loader.gif" style="width: 30px; height: 30px" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_RecortarImagem");
    Html.RenderPartial("_ConfirmDelete");
}