@model Fashion.ERP.Web.Areas.Comum.Models.InformacaoBancariaModel

@{
    Layout = null;
}

<div class="modal-header">
    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Informação bancária</h3>
</div>

<div id="modal-body-endereco" class="modal-body" style="overflow-y: hidden;">

    <div class="content form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummaryEx()
        @Html.HiddenFor(x => x.Pessoa)

    <div class="form-group">
        @Html.LabelForRequired(x => x.Titular, new { @class="col-sm-4 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(x => x.Titular)
            @Html.ValidationMessageFor(x => x.Titular, null, new { @class = "help-block" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelForRequired(x => x.Banco, new { @class="col-sm-4 control-label" })
            <div class="col-sm-6">
                @Html.DropDownList("Banco")
                @Html.ValidationMessageFor(x => x.Banco, null, new { @class="help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(x => x.Agencia, new { @class="col-sm-4 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Agencia)
                @Html.ValidationMessageFor(x => x.Agencia, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(x => x.Conta, new { @class="col-sm-4 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Conta)
                @Html.ValidationMessageFor(x => x.Conta, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(x => x.TipoConta, new { @class="col-sm-4 control-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(p => p.TipoConta, Model.TipoConta.ToSelectList(), "Selecione")
                @Html.ValidationMessageFor(x => x.TipoConta, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(x => x.DataAbertura, new { @class="col-sm-4 control-label" })
            <div class="col-sm-6 padding-none">
                @Html.EditorFor(x => x.DataAbertura)
                @Html.ValidationMessageFor(x => x.DataAbertura, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(x => x.Telefone, new { @class="col-sm-4 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Telefone)
                @Html.ValidationMessageFor(x => x.Telefone, null, new { @class = "help-block" })
            </div>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <button class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
</div>
