@using Fashion.Framework.Mvc.Extensions
@model Fashion.ERP.Web.Areas.Comum.Models.DependenteModel

@{
    Layout = null;
}

@using (Ajax.BeginForm(MVC.Comum.Dependente.Novo(), "#modal-dependente", "formDependente"))
{
    <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Dependente</h3>
    </div>
    <div class="modal-body">
        <div class="row col-sm-12">
            @Html.AntiForgeryToken()
            @Html.ValidationSummaryEx()
            @Html.HiddenFor(x => x.Cliente)
        
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.GrauDependencia)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.DropDownListFor(p => p.GrauDependencia, null, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.GrauDependencia, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Nome)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Cpf)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Cpf, new { data_mask = "999.999.999-99", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Cpf, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Rg)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Rg, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Rg, null, new { @class="help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.OrgaoExpedidor)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.OrgaoExpedidor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OrgaoExpedidor, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button id="btnSubmitModal" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
    </div>
}

<script>
    $('#formDependente').submit(function (e) {
        if (!$("#formDependente").valid()) {
            e.preventDefault();
            $('#btnSubmitModal').button('reset');
            return false;
        }

        return true;
    });

    $.validator.unobtrusive.parse($("#formDependente"));
    inicializeValidacaoFormulario($("#formDependente"));
</script>