@model Fashion.ERP.Web.Areas.Financeiro.Models.EmitenteModel
@Html.AntiForgeryToken()
@Html.ValidationSummaryEx()
@Html.HiddenFor(x => x.Id, new { id = "emitente-id" })
@Html.HiddenFor(x => x.Ativo)
@Html.HiddenFor(x => x.Agencia, new { id = "emitente-agencia" })
@Html.HiddenFor(x => x.Conta, new { id = "emitente-conta" })
@Html.HiddenFor(x => x.Banco, new { id = "emitente-banco" })

<fieldset>
    <legend><small>Dados do Emitente</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.ClienteDesde)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.ClienteDesde)
                    @Html.ValidationMessageFor(x => x.ClienteDesde, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <h5>Dados do Primeiro Titular</h5>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("Tipo de Pessoa", new { @class="control-label col-sm-4 col-md-3"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    <label class="radio-inline">
                        <input name="tipo-pessoa1" id="pessoa-fisica1" type="radio" value="Fisica" />Física
                    </label>
                    <label class="radio-inline">
                        <input name="tipo-pessoa1" id="pessoa-juridica1" type="radio" value="Juridica" />Jurídica
                    </label>
                </div>
            </div>
            </div>
        <div class="col-sm-6">
            <div id="control-cpf1" class="form-group form-group-sm">
                @Html.LabelFor(x => x.Cpf1, new { @class="control-label col-sm-4 col-md-3 required-label"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Cpf1)
                    @Html.ValidationMessageFor(x => x.Cpf1, null, new { @class = "help-block" })
                </div>
            </div>
            <div id="control-cnpj1" class="form-group form-group-sm">
                @Html.LabelFor(x => x.Cnpj1, new { @class="control-label col-sm-4 col-md-3 required-label"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Cnpj1)
                    @Html.ValidationMessageFor(x => x.Cnpj1, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Nome1, new { @class="control-label col-sm-4 col-md-3 required-label"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Nome1, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Nome1, null, new { @class = "help-block" })
                </div>
            </div>
            </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Documento1, new { @class="control-label col-sm-4 col-md-3"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Documento1, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Documento1, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.OrgaoExpedidor1, new { @class="control-label col-sm-4 col-md-3"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.OrgaoExpedidor1, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.OrgaoExpedidor1, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <h5>Dados do Segundo Titular</h5>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("Tipo de Pessoa", new { @class="control-label col-sm-4 col-md-3"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    <label class="radio-inline">
                        <input name="tipo-pessoa2" id="pessoa-fisica2" type="radio" value="Fisica" />Física
                    </label>
                    <label class="radio-inline">
                        <input name="tipo-pessoa2" id="pessoa-juridica2" type="radio" value="Juridica" />Jurídica
                    </label>
                </div>
            </div>
            </div>
        <div class="col-sm-6">
            <div id="control-cpf2" class="form-group form-group-sm">
                @Html.LabelFor(x => x.Cpf2, new { @class="control-label col-sm-4 col-md-3 required-label"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Cpf2)
                    @Html.ValidationMessageFor(x => x.Cpf2, null, new { @class = "help-block" })
                </div>
            </div>
            <div id="control-cnpj2" class="form-group form-group-sm">
                @Html.LabelFor(x => x.Cnpj2, new { @class="control-label col-sm-4 col-md-3 required-label"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Cnpj2)
                    @Html.ValidationMessageFor(x => x.Cnpj2, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Nome2, new { @class="control-label col-sm-4 col-md-3 required-label"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Nome2, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Nome2, null, new { @class = "help-block" })
                </div>
            </div>
            </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Documento2, new { @class="control-label col-sm-4 col-md-3"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Documento2, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Documento2, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.OrgaoExpedidor2, new { @class="control-label col-sm-4 col-md-3"} )
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.OrgaoExpedidor2, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.OrgaoExpedidor2, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>