@using Fashion.ERP.Domain.Compras
@model Fashion.ERP.Web.Areas.Compras.Models.PesquisaRecebimentoCompraModel

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

<div class="well well-small">
    @Html.ActionLinkAuth("Novo", MVC.Compras.RecebimentoCompra.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@using (Html.BeginForm(MVC.Compras.RecebimentoCompra.Index(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{
    @Html.AntiForgeryToken()

    <div id="accordion3" class="panel-group accordion accordion-semi">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" href="#pesquisar" data-parent="#accordion3" data-toggle="collapse">
                        <i class="fa fa-angle-right"></i>
                        Pesquisar
                    </a>
                </h4>
            </div>
            <div id="pesquisar" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">


                    <div class="content">

                        <div class="form-group col-sm-12">
                            @Html.LabelForRequired(x => x.UnidadeEstocadora, new { @class="col-sm-2 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownList("UnidadeEstocadora", null, "-- Selecione --", new { @class="form-control" })
                                </div>
                        </div>

                        <div class="form-group col-sm-12">

                            <div class="col-sm-4">
                                @Html.LabelForRequired(x => x.Numero, new { @class="col-sm-6" })
                                    <div class="col-sm-6">
                                        @Html.EditorFor(x => x.Numero, new { @class="form-control" })
                                    </div>

                            </div>

                            <div class="col-sm-4">
                                @Html.LabelForRequired(x => x.NumeroPedidoCompra, new { @class="col-sm-6" })
                                    <div class="col-sm-6">
                                        @Html.EditorFor(x => x.NumeroPedidoCompra, new { @class="form-control" })
                                    </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            @Html.LabelForRequired(x => x.Fornecedor, new { @class="col-sm-2 control-label" })
                               
                                    @Html.HiddenFor(x => x.Fornecedor, new { id = "Fornecedor",  @class="col-sm-2 control-label" })
                                        <div class="input-group col-sm-8">
                                            <input id="codigo-fornecedor" class="form-control numeric-only" type="text" />
                                            <span class="input-group-btn">
                                                <button id="pesquisar-fornecedor" class="btn" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                            <span id="descricao-fornecedor" class="add-on"></span>
                                        </div>
                        </div>


                        <div class="form-group col-sm-12">


                            <div class="col-sm-6">
                                @Html.LabelForRequired(x => x.DataInicio, new { @class="col-sm-4 control-label" })
                                    <div class="col-sm-6  padding-none">
                                        @Html.EditorFor(x => x.DataInicio, new { @class = "input-small" })
                                    </div>

                            </div>
                            <div class="col-sm-6">
                                @Html.LabelForRequired(x => x.DataFim, new { @class="col-sm-4 control-label" })
                                    <div class="col-sm-6  padding-none">
                                        @Html.EditorFor(x => x.DataFim, new { @class = "input-small" })
                                    </div>

                            </div>



                        </div>

                        <div class="form-group col-sm-12">
                            @Html.LabelForRequired(x => x.SituacaoRecebimentoCompra, new { @class="col-sm-2 control-label" })
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(x => x.SituacaoRecebimentoCompra, Model.SituacaoRecebimentoCompra.ToSelectList(), "-- Selecione --", new { @class="form-control" })
                                    </div>
                        </div>

                        <div class="form-group col-sm-12">

                            <div class="col-sm-6">
                                @Html.LabelForRequired(x => x.ValorInicio, new { @class="col-sm-4 control-label" })
                                    <div class="col-sm-6 padding-none">
                                        @Html.EditorFor(x => x.ValorInicio, new { @class = "input-small" })
                                    </div>

                            </div>
                            <div class="col-sm-6">
                                @Html.LabelForRequired(x => x.ValorFim, new { @class="col-sm-4 control-label" })
                                    <div class="col-sm-6 padding-none">
                                        @Html.EditorFor(x => x.ValorFim, new { @class = "input-small" })
                                    </div>

                            </div>

                        </div>

                        <div class="col-xs-12">
                            <div class="form-group col-sm-12">
                                @Html.Label("referencia-material", "Referência", new { @class="col-sm-2 control-label" })
                                <div class="col-sm-8">
                                    @Html.Hidden("Material")

                                    <div class="input-group">
                                        <input id="referencia-material" class="form-control" type="text" />
                                        <span class="input-group-btn">
                                            <button id="pesquisar-material" class="btn" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                        <span id="descricao-material" class="add-on"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class="well clearfix">
                        <div class="col-sm-12">
                            @Html.HiddenFor(x => x.ModoConsulta)
                        <div class="btn-group spacer" data-toggle="buttons-radio">
                            <button name="btn-ModoConsulta" class="btn btn-success active btn-rad" type="button" value="listagem">Listagem</button>
                            <button name="btn-ModoConsulta" class="btn btn-success btn-rad" type="button" value="impressao">Impressão</button>
                        </div>

                        </div>

                        <div class="col-sm-12 form-group spacer spacer-bottom">

                            <div id="row-imprimir" class="col-sm-4" style="display: none">
                                @Html.LabelForRequired(x => x.AgruparPor, new { @class="col-sm-5 control-label" })
                            <div class="col-sm-7">
                                @Html.DropDownList("AgruparPor", "--Selecione--")
                            </div>
                            </div>


                            <div class="col-sm-4">
                                @Html.LabelForRequired(x => x.OrdenarPor, new { @class="col-sm-5 control-label" })
                            <div class="col-sm-7">
                                @Html.DropDownList("OrdenarPor", "--Selecione--")
                            </div>
                            </div>


                            <div class="col-sm-4">
                                @Html.LabelForRequired(x => x.OrdenarEm, new { @class="col-sm-5 control-label" })
                            <div class="col-sm-7">
                                <select name="OrdenarEm">
                                    <option value="asc">Ascendente</option>
                                    <option value="desc">Descendente</option>
                                </select>
                            </div>
                            </div>
                        </div>

                        <div class="line-separate spacer"></div>

                        <div class="col-sm-12">
                            <button id="pesquisar-relatorio" class="btn btn-primary" type="button" data-loading-text="Aguarde..." style="display: none;"><i class="fa fa-search"></i>Pesquisar</button>
                            <button id="pesquisar-grid" class="btn btn-primary" type="submit" data-loading-text="Aguarde..."><i class="fa fa-search"></i>Pesquisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<div id="pdf"></div>
@(Html.Kendo().Grid(Model.Grid)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(x => x.Numero);
		columns.Bound(x => x.FornecedorNome);
		columns.Bound(x => x.Data).Format("{0:d}");
        columns.Bound(x => x.Valor).Format("{0:C}");
	    columns.Bound(x => x.SituacaoRecebimentoCompra).Template(s => s.SituacaoRecebimentoCompra.EnumToString());
		columns.Template(item => Html.EditarAuth(MVC.Compras.RecebimentoCompra.Editar(item.Id))).Width(80);
        @*columns.Template(item => Html.ActionLinkAuth("Títulos a pagar", MVC.Compras.ValidaPedidoCompra.Validar(item.Id), new { @class = "btn btn-small btn-primary" })).Width(80);        *@
        @*columns.Template(item => Html.CancelaAuth(MVC.Compras.PedidoCompraCancelamento.CancelamentoPedido(item.Id))).Width(80);*@
	})
)
<script>
    $(function () {
        // Seleciona o modo de consulta
        $('button[name=btn-ModoConsulta]').on('click', function () {

            var $ModoConsulta = $('#ModoConsulta');

            if (this.value == 'impressao') {
                $ModoConsulta.val('Imprimir');

                $('#row-imprimir').show();
                $('#pesquisar-relatorio').show();
                $('#pesquisar-grid').hide();

            } else {
                $ModoConsulta.val('Listar');

                $('#row-imprimir').hide();
                $('#pesquisar-relatorio').hide();
                $('#pesquisar-grid').show();

            }
        });
    })
</script>
@{
    Html.RenderAction("Pesquisar", "Fornecedor", new { area = "Comum" });
    Html.RenderAction("Pesquisar", "Funcionario", new { area = "Comum", funcaoFuncionario = new[] { "Comprador", "GerenteCompra" } });
    Html.RenderAction("Pesquisar", "Material", new { area = "Almoxarifado" });
}