@model Fashion.ERP.Web.Areas.Financeiro.Models.PesquisaDespesaReceitaModel
@using Kendo.Mvc.UI
<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Financeiro.DespesaReceita.Novo(), new { @class = "btn btn-primary" })
</div>

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

@using (Html.BeginForm(MVC.Financeiro.DespesaReceita.Index(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePesquisar">Pesquisar
                </a>
            </div>
            <div id="collapsePesquisar" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.TipoDespesaReceita)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.DropDownListFor(x => x.TipoDespesaReceita, Model.TipoDespesaReceita.ToSelectList(), "-- Selecione --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Descricao)
                                <div class='col-sm-8 col-md-8 col-lg-7'>
                                    @Html.TextBoxFor(x => x.Descricao, new {  @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Descricao, null, new { @class="help-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Ativo)
                                <div class="col-sm-8 col-md-8 col-lg-7  ">
                                    @Html.EditorFor(x => x.Ativo)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.HiddenFor(x => x.ModoConsulta)
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input name="btn-ModoConsulta" type="radio" value="listagem"/>Listagem
                                    </label>
                                    <label class="btn btn-default">
                                        <input name="btn-ModoConsulta" type="radio" value="impressao"/>Impressão
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10 col-md-11">
                                <div class="col-sm-4">
                                    <div id="row-imprimir" style="display: none">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.AgruparPor)
                                            <div class="col-sm-8 col-md-8 col-lg-7  ">
                                                @Html.DropDownList("AgruparPor", null, "--Selecione--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-sm">
                                        @Html.LabelForRequired(x => x.OrdenarPor)
                                        <div class="col-sm-8 col-md-8 col-lg-7  ">
                                            @Html.DropDownList("OrdenarPor", null, "--Selecione--", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-sm">
                                        @Html.Label("OrdenarEm", "Em", new { @class = "control-label col-sm-2 col-md-1" })
                                        <div class="col-sm-8 col-md-8 col-lg-7  ">
                                            <select name="OrdenarEm" class="form-control">
                                                <option value="asc">Ascendente</option>
                                                <option value="desc">Descendente</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-sm-2 col-md-1 form-group">
                                <button id="pesquisar-relatorio" class="btn btn-default pull-right" type="button" data-loading-text="Aguarde..." style="display: none;">Pesquisar</button>
                                <button id="pesquisar-grid" class="btn btn-default pull-right" type="submit" data-loading-text="Aguarde...">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<div id="pdf"></div>
@Html.ValidationSummaryEx()

<div class="table-responsive">
    @(Html.Kendo().Grid(Model.Grid)
          .Name("Grid")
          .Columns(columns =>
          {
              columns.Bound(x => x.Descricao);
              columns.Bound(x => x.TipoDespesaReceita);        
              columns.Template(item => Html.EditarAuth(MVC.Financeiro.DespesaReceita.Editar(item.Id))).Width(80);
              columns.Template(item => Html.EditarSituacaoAuth(MVC.Financeiro.DespesaReceita.EditarSituacao(item.Id), item.Ativo)).Width(80);
          }))
</div>

<script>
    $(function () {
        // Seleciona o modo de consulta
        $('button[name=btn-ModoConsulta]').on('click', function () {

            var $ModoConsulta = $('#ModoConsulta');
            
            if (this.value == 'impressao') {
                $ModoConsulta.val('Imprimir');

                $('#row-imprimir').show();
                $('#pesquisar-relatorio').show();
                $('#pesquisar-grid').hide();

            } else {
                $ModoConsulta.val('Listar');

                $('#row-imprimir').hide();
                $('#pesquisar-relatorio').hide();
                $('#pesquisar-grid').show();
                
            }
        });   
    })
</script>