@using Fashion.ERP.Domain.Comum
@model Fashion.ERP.Web.Areas.Comum.Models.FornecedorModel
<div class="form-group">
    @Html.LabelForRequired(x => x.TipoPessoa)
    <div class="controls">
        <label class="radio"><input name="TipoPessoa" id="radioFisica" type="radio" value="Fisica" checked="checked" />Física</label>
        <label class="radio"><input name="TipoPessoa" id="radioJuridica" type="radio" value="Juridica" />Jurídica</label>
    </div>
</div>
<div class="form-group">
    @Html.LabelForRequired(x => x.Nome)
    <div class="controls">
        @Html.EditorFor(x => x.Nome)
        @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
    </div>
</div>
<div id="fisica">
    <div class="form-group">
        @Html.LabelForRequired(x => x.Cpf)
        <div class="controls">
            @Html.EditorFor(x => x.Cpf)
            @Html.ValidationMessageFor(x => x.Cpf, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.DocumentoIdentidade)
        <div class="controls">
            @Html.EditorFor(x => x.DocumentoIdentidade)
            @Html.ValidationMessageFor(x => x.DocumentoIdentidade, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.OrgaoExpedidor)
        <div class="controls">
            @Html.EditorFor(x => x.OrgaoExpedidor)
            @Html.ValidationMessageFor(x => x.OrgaoExpedidor, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.DataNascimento)
        <div class="controls">
            @Html.EditorFor(x => x.DataNascimento)
            @Html.ValidationMessageFor(x => x.DataNascimento, null, new { @class="help-block" })
        </div>
    </div>
</div>
<div id="juridica">
    <div class="form-group">
        @Html.LabelForRequired(x => x.Cnpj)
        <div class="controls">
            @Html.EditorFor(x => x.Cnpj)
            @Html.ValidationMessageFor(x => x.Cnpj, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.NomeFantasia)
        <div class="controls">
            @Html.EditorFor(x => x.NomeFantasia)
            @Html.ValidationMessageFor(x => x.NomeFantasia, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.InscricaoEstadual)
        <div class="controls">
            @Html.EditorFor(x => x.InscricaoEstadual)
            @Html.ValidationMessageFor(x => x.InscricaoEstadual, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.InscricaoMunicipal)
        <div class="controls">
            @Html.EditorFor(x => x.InscricaoMunicipal)
            @Html.ValidationMessageFor(x => x.InscricaoMunicipal, null, new { @class="help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelForRequired(x => x.InscricaoSuframa)
        <div class="controls">
            @Html.EditorFor(x => x.InscricaoSuframa)
            @Html.ValidationMessageFor(x => x.InscricaoSuframa, null, new { @class="help-block" })
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelForRequired(x => x.FornecedorTipoFornecedor)
    <div class="controls">
        @Html.DropDownList("FornecedorTipoFornecedor", null, "-- Selecione --")
        @Html.ValidationMessageFor(x => x.FornecedorTipoFornecedor, null, new { @class="help-block" })
    </div>
</div>
<script>
    $(function () {
        $("#radioFisica").on("click", function () {
            $("#fisica").show('slow');
            $("#juridica").hide('slow');
            $("#radioFisica").focus();
        });
        $("#radioJuridica").on("click", function () {
            $("#fisica").hide('slow');
            $("#juridica").show('slow');
            $("#radioJuridica").focus();
        });

        var verificarCpfCnpj = function () {
            var url = "/Comum/Fornecedor/VerificarCpfCnpj?cpfCnpj=" + $(this).val();
            $.getJSON(url, function (result) {
                console.log(JSON.stringify(result));
                if (result.existeFornecedor) {
                    alert("Já existe um fornecedor com este cpf/cnpj cadastrado no sistema.");
                    document.location.href = "/Comum/Fornecedor/Editar/" + result.pessoaId;
                } else if (result.existePessoa) {
                    if (confirm("Já existe uma pessoa com este cpf/cnpj cadastrada no sistema. Deseja usar os dados para este cadastro?")) {
                        document.location.href = "/Comum/Fornecedor/Editar/" + result.pessoaId;
                    } else {
                        document.location.href = "/Comum/Fornecedor";
                    }
                }
                // Criar uma tela modal e perguntar ao usuário o q fazer
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        };
        $("#Cpf").on("change", verificarCpfCnpj);
        $("#Cnpj").on("change", verificarCpfCnpj);

        // Selecionar o tipo de pessoa
        @if (Model.TipoPessoa == TipoPessoa.Fisica)
        {
            <Text>$("#radioFisica").click();</Text>
        } else if (Model.TipoPessoa == TipoPessoa.Juridica)
        {
            <Text>$("#radioJuridica").click();</Text>
        }
    });
</script>