@model Fashion.ERP.Web.Areas.Comum.Models.PesquisaFornecedorModel

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

<div class="well well-sm">
    @Html.ActionLinkAuth("Novo", MVC.Comum.Fornecedor.Novo(), new { @class = "btn btn-primary" })
</div>
@Html.ValidationSummaryEx()
@using (Html.BeginForm(MVC.Comum.Fornecedor.Index(), FormMethod.Post, new { @class = "form-horizontal small-labels" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsePesquisar">Pesquisar
                </a>
            </div>
            <div id="collapsePesquisar" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Nome)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.NomeFantasia)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.TextBoxFor(x => x.NomeFantasia, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.CpfCnpj)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.TextBoxFor(x => x.CpfCnpj, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Uf)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.DropDownList("Uf", null, "-- Selecione --", new{ id = "estado-option", @class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                @Html.LabelForRequired(x => x.Cidade)
                                <div class="col-sm-8 col-md-8 col-lg-7">
                                    @Html.DropDownListFor(x => x.Cidade, null, "-- Selecione --", new{ id = "cidade-option", @class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.HiddenFor(x => x.ModoConsulta)
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input name="btn-ModoConsulta" type="radio" value="listagem"/>Listagem
                                    </label>
                                    <label class="btn btn-default">
                                        <input name="btn-ModoConsulta" type="radio" value="impressao"/>Impressão
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10 col-md-11">
                                <div id="row-imprimir" style="display: none">
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.AgruparPor)
                                            <div class="col-sm-8 col-md-8 col-lg-7  ">
                                                @Html.DropDownList("AgruparPor", null, "--Selecione--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelForRequired(x => x.OrdenarPor)
                                            <div class="col-sm-8 col-md-8 col-lg-7  ">
                                                @Html.DropDownList("OrdenarPor", null, "--Selecione--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-sm">
                                            @Html.Label("OrdenarEm", "Em", new { @class = "control-label col-sm-2 col-md-1" })
                                            <div class="col-sm-8 col-md-8 col-lg-7  ">
                                                <select name="OrdenarEm" class="form-control">
                                                    <option value="asc">Ascendente</option>
                                                    <option value="desc">Descendente</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-1 form-group">
                                <button id="pesquisar-relatorio" class="btn btn-default pull-right" type="button" data-loading-text="Aguarde..." style="display: none;">Pesquisar</button>
                                <button id="pesquisar-grid" class="btn btn-default pull-right" type="submit" data-loading-text="Aguarde...">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="pdf"></div>

<div class="table-responsive">
    @(Html.Kendo().Grid(Model.Grid)
          .Name("Grid")
          .Columns(columns =>
          {
              columns.Bound(x => x.Codigo);
              columns.Bound(x => x.Nome);
              columns.Bound(x => x.CpfCnpj);
              columns.Bound(x => x.NomeFantasia);
              columns.Bound(x => x.Estado);
              columns.Bound(x => x.Cidade);
              columns.Template(item => Html.EditarAuth(MVC.Comum.Fornecedor.Editar(item.Id))).Width(80);
              columns.Template(item => Html.EditarSituacaoAuth(MVC.Comum.Fornecedor.EditarSituacao(item.Id), item.Ativo)).Width(80);
          }))
</div>

<script>

    $(document).ready(function() {

        $('#form').validate({
            ignore: "select"
        });

        //$("#CpfCnpj").keydown(function () {
        //    try {
        //        $("#CpfCnpj").unmask();
        //    } catch (e) { }

        //    var tamanho = $("#CpfCnpj").val().length;

        //    if (tamanho < 11) {
        //        $("#CpfCnpj").mask("999.999.999-99");
        //    } else if (tamanho >= 11) {
        //        $("#CpfCnpj").mask("99.999.999/9999-99");
        //    }
        //});
    });

    $(function () {
        // Seleciona o modo de consulta
        $('button[name=btn-ModoConsulta]').on('click', function () {

            var $ModoConsulta = $('#ModoConsulta');

            if (this.value == 'impressao') {
                $ModoConsulta.val('Imprimir');

                $('#row-imprimir').show();
                $('#pesquisar-relatorio').show();
                $('#pesquisar-grid').hide();

            } else {
                $ModoConsulta.val('Listar');

                $('#row-imprimir').hide();
                $('#pesquisar-relatorio').hide();
                $('#pesquisar-grid').show();

            }
        });
    })
</script>