@model Fashion.ERP.Web.Areas.Comum.Models.NovoFornecedorModel

@using (Html.BeginForm(MVC.Comum.Fornecedor.Novo(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.Partial("_NovoOuEditar", Model)

    <fieldset>
        <legend>Endereço</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoTipoEndereco)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(p => p.EnderecoTipoEndereco, Model.EnderecoTipoEndereco.ToSelectList(), new { @class = "form-control", disabled = "disabled"})
                        @Html.ValidationMessageFor(x => x.EnderecoTipoEndereco, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoLogradouro)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.EnderecoLogradouro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EnderecoLogradouro, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoNumero)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.EnderecoNumero, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EnderecoNumero, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoComplemento)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.EnderecoComplemento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EnderecoComplemento, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoCep)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.EnderecoCep, new { data_mask = "99999-999", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EnderecoCep, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoBairro)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.EnderecoBairro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EnderecoBairro, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.Label("Estado", new { @class = "control-label col-sm-4 col-md-3 required-label"})
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownList("Uf", null, "-- Selecione --", new{ id = "estado-option", @class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.EnderecoCidade)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownList("EnderecoCidade", null, "-- Selecione --", new{ id = "cidade-option", @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.EnderecoCidade, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Contato</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ContatoTipoContato)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.DropDownListFor(p => p.ContatoTipoContato,  Model.ContatoTipoContato.ToSelectList(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ContatoTipoContato, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ContatoNome)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.ContatoNome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ContatoNome, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ContatoTelefone)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.ContatoTelefone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ContatoTelefone, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ContatoOperadora)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.ContatoOperadora, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ContatoOperadora, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ContatoEmail)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.ContatoEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ContatoEmail, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    @Html.FormActionAuth(this.IsEditar(), MVC.Comum.Fornecedor.Excluir(Model.Id))
}