@model Fashion.ERP.Web.Areas.Comum.Models.EmpresaModel



<fieldset>
    <legend><small>Dados da Empresa</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Nome)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.NomeFantasia)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.NomeFantasia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NomeFantasia, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Cnpj)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Cnpj, new { data_mask = "99.999.999/9999-99", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Cnpj, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.DataFundacao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.DataFundacao)
                    @Html.ValidationMessageFor(x => x.DataFundacao, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.InscricaoEstadual)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.InscricaoEstadual, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.InscricaoEstadual, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.InscricaoMunicipal)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.InscricaoMunicipal, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.InscricaoMunicipal, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>     
    <div class="hide">
        <input name="TipoPessoa" id="radioFisica" type="radio" value="Juridica" checked="checked" />
    </div>
</fieldset>

<script>
    $(function () {
        
        var verificarCpfCnpj = function () {
            var url = "/Comum/Empresa/VerificarCpfCnpj?cpfCnpj=" + $(this).val();
            $.getJSON(url, function (result) {
                console.log(JSON.stringify(result));
                if (result.existeEmpresa) {
                    alert("Existe uma empresa com esse mesmo C.N.P.J. cadastrada no sistema.");
                    document.location.href = "/Comum/Empresa/Editar/" + result.pessoaId;
                } else if (result.existePessoa) {
                    if (confirm("Existe uma pessoa com esse mesmo C.N.P.J. cadastrada no sistema. Deseja usar o dados para esse cadastro?")) {
                        document.location.href = "/Comum/Empresa/Editar/" + result.pessoaId;
                    } else {
                        document.location.href = "/Comum/Empresa/Novo/";
                    }
                }
                // Criar uma tela modal e perguntar ao usuário o q fazer
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        };
        $("#Cnpj").on("change", verificarCpfCnpj);
    });
</script>