 @model Fashion.ERP.Web.Areas.Comum.Models.PrazoModel

<fieldset>
    <legend><small>Dados da Transportadora</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Descricao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Descricao, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Descricao, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.AVista)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.AVista)
                    @Html.ValidationMessageFor(x => x.AVista, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.QuantidadeParcelas)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @(Html.Kendo().NumericTextBoxFor(m => m.QuantidadeParcelas)
                            .Format("n0")
                            .Min(1).Spinners(false)
                            .Name("QuantidadeParcelas"))
                    @Html.ValidationMessageFor(x => x.QuantidadeParcelas, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.PrazoPrimeiraParcela)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @(Html.Kendo().NumericTextBoxFor(m => m.PrazoPrimeiraParcela)
                            .Format("n0")
                            .Min(1).Spinners(false)
                            .Name("PrazoPrimeiraParcela"))
                    @Html.ValidationMessageFor(x => x.PrazoPrimeiraParcela, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Intervalo)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Intervalo)
                            .Format("n0")
                            .Min(1).Spinners(false)
                            .Name("Intervalo"))
                    @Html.ValidationMessageFor(x => x.Intervalo, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Padrao)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.Padrao)
                    @Html.ValidationMessageFor(x => x.Padrao, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>


@Html.FormActionAuth(this.IsEditar(), MVC.Compras.Transportadora.Excluir(Model.Id))