@model Fashion.ERP.Web.Areas.Comum.Models.EditarUsuarioModel

@using (Html.BeginForm("Editar", "Usuario", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)

    <fieldset>
        <legend><small>Dados do Usuário</small></legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Nome)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Login)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Login, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.PerfisDeAcesso)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @Html.CheckBoxListFor(x => x.PerfisDeAcesso, Model.PerfisDeAcessoList, new { @class = "checkbox form-control" })
                        @Html.ValidationMessageFor(x => x.PerfisDeAcesso, null, new { @class="help-block" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.ResetarSenha)
                    <div class='col-sm-8 col-md-8 col-lg-7'>
                        <div class="input-group">
                            @Html.PasswordFor(x => x.NovaSenha, new { disabled = "disabled", @class="form-control" })
                            <span class="input-group-addon">
                                @Html.CheckBoxFor(x => x.ResetarSenha)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelForRequired(x => x.Permissoes)
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        @(Html.TreeView(Model.PermissoesList)
                              .EmptyContent("Não há permissões!")
                              .Children(m => m.Itens)
                              .HtmlAttributes(new { id = "treeview" })
                              .ChildrenHtmlAttributes(new { @class = "subItem" })
                              .ItemText(m => m.Name)
                              .ItemTemplate(
                                  @<text>
                                       <input type="checkbox" value="@item.Id" @(item.IsChecked ? "checked='ckecked'" : string.Empty) name="Permissoes"/>@item.Name
                                   </text>)
                              )
                        @Html.ValidationMessageFor(x => x.Permissoes, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    @Html.FormActionAuth(this.IsEditar(), MVC.Comum.Usuario.Excluir(Model.Id))

    <script>
        $(function () {
            $("#treeview").kendoTreeView({
                checkboxes: {
                    checkChildren: true,
                }
            }).data("kendoTreeView");
        });
        $('#ResetarSenha').change(function () {
            if ($(this).is(":checked")) {
                $('#NovaSenha').removeAttr('disabled').focus();
            } else {
                $('#NovaSenha').attr('disabled', 'disabled');
            }
        });
    </script>
}

@{ Html.RenderPartial("_ConfirmDelete");}