@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.GradeModel

<style>
    /* Esconde o primeiro ^ e o último ˅ */
    #table-grade tr:first-child .icon-chevron-up,
    #table-grade tr:last-child .icon-chevron-down {
        display: none;
    }
</style>

<div class="control-group">
    @Html.LabelForRequired(x => x.Descricao)
    <div class="controls">
        @Html.EditorFor(x => x.Descricao)
        @Html.ValidationMessageFor(x => x.Descricao, null, new { @class = "help-block" })
    </div>
</div>

<div class="control-group">
    @Html.LabelForRequired(x => x.Tamanhos)
    <div class="controls">
        @Html.DropDownList("Tamanho", null, new { @class = "input-large"})
        <button id="btn-add" type="button" class="btn"><i class="icon-plus"></i></button>
        <table id="table-grade" class="table table-striped table-condensed" style="width: 250px">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 16px"></th>
                    <th style="width: 16px"></th>
                    <th style="width: 16px"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Tamanhos != null)
                {
                    foreach (var tamanho in Model.Tamanhos)
                    {
                        <tr>
                            <td>
                                @(ViewBag.TamanhosDicionario[tamanho])
                                <input type="hidden" name="Tamanhos" value="@(tamanho)"/>
                            </td>
                            <td><a href="javascript:void(0)" onclick="ShiftUp(this)"><i class="icon-chevron-up"></i></a></td>
                            <td><a href="javascript:void(0)" onclick="ShiftDown(this)"><i class="icon-chevron-down"></i></a></td>
                            <td><a href="javascript:void(0)" onclick="Delete(this)"><i class="icon-remove"></i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#btn-add').on('click', function () {
            
            var tamanhoId = $('#Tamanho').val();
            var tamanho = $('#Tamanho option:selected').text();

            // Verificar se já está na lista
            var cadastrado = false;
            $('input[name=Tamanhos]').each(function () {
                if ( $(this).val() == tamanhoId) {
                    alert("O tamanho escolhido já está cadastrado na grade.");
                    cadastrado = true;
                    return;
                }
            });

            if (cadastrado == false) {
                $('#table-grade tbody').append(
                    '<tr>\
                    <td>' + tamanho + '<input type="hidden" name="Tamanhos" value="' + tamanhoId + '"/></td>\
                    <td><a href="javascript:void(0)" onclick="ShiftUp(this)"><i class="icon-chevron-up"></i></a></td>\
                    <td><a href="javascript:void(0)" onclick="ShiftDown(this)"><i class="icon-chevron-down"></i></a></td>\
                    <td><a href="javascript:void(0)" onclick="Delete(this)"><i class="icon-remove"></i></a></td>\
                </tr>');
            }
        });
    });

    function ShiftUp(a) {
        var row = $(a).parents('tr:first');
        row.fadeTo('fast', 0.5, function () {
            row.insertBefore(row.prev());
            row.fadeTo('fast', 1.0);
        });
    }
    
    function ShiftDown(a) {
        var row = $(a).parents('tr:first');
        row.fadeTo('fast', 0.5, function () {
            row.insertAfter(row.next());
            row.fadeTo('fast', 1.0);
        });
    }
    
    function Delete(a) {
        var row = $(a).parents('tr:first');
        row.fadeTo('fast', 0, function () {
            row.remove();
        });
    }
</script>