@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.GradeModel

<div class="block-flat">
    @using (Html.BeginForm(MVC.EngenhariaProduto.Grade.Editar(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
	@Html.HiddenFor(x => x.Id)
    @Html.Partial("_NovoOuEditar", Model)
        <div class="form-group clearfix">
            <div class="col-sm-offset-3 col-sm-10 topOffset-15">
                <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
                @Html.ExcluirAuth(MVC.EngenhariaProduto.Grade.Excluir(Model.Id))
            </div>
        </div>

    }
    @{Html.RenderPartial("_ConfirmDelete");}
</div>