@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.ProgramacaoBordadoModel

@Html.HiddenFor(x => x.Modelo)

<fieldset>
    <legend><small>Dados da Modelo</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("Referência", new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                <div class="col-sm-8 col-md-8 col-lg-7">
                    <div class="form-control-static no-gutter">
                        @ViewBag.ModeloReferencia
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("Descrição", new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                <div class="col-sm-8 col-md-8 col-lg-7">
                    <div class="form-control-static no-gutter">
                        @ViewBag.ModeloReferencia
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("Estilista", new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                <div class="col-sm-8 col-md-8 col-lg-7">
                    <div class="form-control-static no-gutter">
                        @ViewBag.ModeloEstilistaNome
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.Label("Data de Criação", new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                <div class="col-sm-8 col-md-8 col-lg-7">
                    <div class="form-control-static no-gutter">
                        @ViewBag.ModeloDataCriacao
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
    
<br/>

<fieldset>
    <legend><small>Dados da Programação de Bordado</small></legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Funcionario)
                <div class="col-sm-8 col-md-8 col-lg-7 ">
                    @Html.CustomKendoComboBoxForFuncionario(x => x.Funcionario)
                    @Html.ValidationMessageFor(x => x.Funcionario, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Descricao)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.QuantidadePontos)
                <div class="col-sm-8 col-md-8 col-lg-7 ">
                    @Html.Kendo().IntegerTextBoxFor(m => m.QuantidadePontos).HtmlAttributes(new { @class = "integer" })
                    @Html.ValidationMessageFor(x => x.Funcionario, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.QuantidadeCores)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.Kendo().IntegerTextBoxFor(m => m.QuantidadeCores).HtmlAttributes(new { @class = "integer" })
                    @Html.ValidationMessageFor(x => x.Descricao, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Data)
                <div class="col-sm-8 col-md-8 col-lg-7 ">
                    @Html.EditorFor(x => x.Data)
                    @Html.ValidationMessageFor(x => x.Data, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Aplicacao)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Aplicacao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Descricao, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.NomeArquivo)
                <div class="col-sm-8 col-md-8 col-lg-7 ">
                    @Html.TextBoxFor(x => x.NomeArquivo, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Funcionario, string.Empty, new { @class = "help-block" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.ArquivoId)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                        <div class="form-control">
                            <div class="uneditable-input">
                                <span class="glyphicon glyphicon-file fileinput-exists"></span>
                                <span class="fileinput-preview">@Html.ValueFor(x => x.NomeArquivoUpload)</span>
                            </div>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Selecione</span>
                            <span class="fileinput-exists">Alterar</span>
                            <input type="file" name="Arquivo" />
                            @Html.HiddenFor(x => x.NomeArquivoUpload)
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                    </div>
                    @Html.HiddenFor(x => x.ArquivoId)
                    <div class="progress" style="display: none">
                        <div class="progress-bar"></div>
                    </div>
                    @Html.ValidationMessageFor(x => x.ArquivoId, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Observacao)
                <div class="col-sm-8 col-md-8 col-lg-7 ">
                    @Html.TextAreaFor(x => x.Observacao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Observacao, string.Empty, new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>


