@using Fashion.ERP.Reporting.Helpers
@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.DetalharModeloModel

<div class="well well-small">
    <div class="btn-toolbar">
        <div class="btn-group">
            @Html.ActionLinkAuth("Novo", MVC.EngenhariaProduto.Modelo.Novo(), new { @class = "btn" })
            @Html.ActionLinkAuth("Editar", MVC.EngenhariaProduto.Modelo.Editar(Model.Id), new { @class = "btn" })
            @Html.ActionLinkAuth("Copiar", MVC.EngenhariaProduto.Modelo.Copiar(Model.Id), new { @class = "btn" })
        </div>
        <div class="btn-group">
            @Html.ActionLinkAuth("Variação", MVC.EngenhariaProduto.Modelo.Variacao(Model.Id), new { @class = "btn" })
            @Html.ActionLinkAuth("Modelagem", MVC.EngenhariaProduto.Modelo.Modelagem(Model.Id), new { @class = "btn" })
            @Html.ActionLinkAuth("Sequência Produção", MVC.EngenhariaProduto.SequenciaProducao.SequenciaProducao(Model.Id), new { @class = "btn"})
            @Html.ActionLinkAuth("Materiais de Composição", MVC.EngenhariaProduto.MaterialComposicaoModelo.MaterialComposicaoModelo(Model.Id), new { @class = "btn" })
            @Html.ActionLinkAuth("Programação Bordado", MVC.EngenhariaProduto.Modelo.ProgramacaoBordado(Model.Id), new { @class = "btn" })
        </div>
        <div class="btn-group">
            @Html.ActionLink("Imprimir", MVC.EngenhariaProduto.Modelo.ImprimirDetalhe(Model.Id), new { @class = "btn", target = "_blank" })
        </div>
    </div>
</div>

<fieldset class="detail">
    <legend>Dados do modelo</legend>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(x => x.Referencia, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Referencia)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Estilista, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Estilista)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.DataCriacao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.DataCriacao)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.LinhaCasa, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.LinhaCasa)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.TamanhoPadrao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.TamanhoPadrao)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Forro, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Forro)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Detalhamento, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Detalhamento)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.DataPrevisaoEnvio, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.DataPrevisaoEnvio)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(x => x.Descricao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Descricao)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Colecao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Colecao)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Marca, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Marca)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Grade, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Grade)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Segmento, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Segmento)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.TecidoComplementar, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.TecidoComplementar)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Lavada, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Lavada)
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <fieldset class="span6">
        <legend>Linhas</legend>
        @if (Model.LinhaBordados.IsNullOrEmpty() == false)
        {
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Linha bordado</th>
                    </tr>
                </thead>
                @foreach (var bordado in Model.LinhaBordados)
                {
                    <tr>
                        <td>@bordado</td>
                    </tr>
                }
            </table>
        }
        @if (Model.LinhaPespontos.IsNullOrEmpty() == false)
        {
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Linha pesponto</th>
                    </tr>
                </thead>
                @foreach (var bordado in Model.LinhaPespontos)
                {
                    <tr>
                        <td>@bordado</td>
                    </tr>
                }
            </table>
        }
        @if (Model.LinhaPespontos.IsNullOrEmpty() == false)
        {
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Linha travete</th>
                    </tr>
                </thead>
                @foreach (var bordado in Model.LinhaTravetes)
                {
                    <tr>
                        <td>@bordado</td>
                    </tr>
                }
            </table>
        }
    </fieldset>
    @if (Model.Fotos.IsNullOrEmpty() == false)
    {
        <fieldset class="span6">
            <legend>Fotos</legend>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Padrão</th>
                        <th>Impressão</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var foto in Model.Fotos)
                    {
                        <tr>
                            <td>@foto.FotoTitulo</td>
                            <td>@foto.Padrao.ToSimNao()</td>
                            <td>@foto.Impressao.ToSimNao()</td>
                            <td style="width: 50px">
                                <a href='/Arquivo/Foto?nomeFoto=@foto.FotoNome' data-lightbox='foto' title='@foto.FotoTitulo'>
                                    <img src="/Arquivo/Thumbnail?nomeFoto=@foto.FotoNome&width=50&height=50"/>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    }
</div>
@if (Model.Variacoes.IsNullOrEmpty() == false)
{
    <fieldset>
        <legend>Variação</legend>
        <!-- .minwidth { min-width:100px; width: auto !important; width: 100px; } -->
        <div class="row">
            <div class="span12">
            @foreach (var variacao in Model.Variacoes)
            {
                <table class="table table-striped table-condensed" style="display:inline-table; min-width:100px; max-width: 300px; width: auto !important;">
                    <thead>
                        <tr>
                            <th>@variacao.Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cor in variacao.Value)
                        {
                            <tr>
                                <td>@cor</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            </div>
        </div>
    </fieldset>
}
@if (Model.SequenciaProducao.IsNullOrEmpty() == false)
{
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>Sequência Produção</legend>

                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Departamento de produção</th>
                            <th>Entrada</th>
                            <th>Saída</th>
                        </tr>
                    </thead>
                    @foreach (var sequencia in Model.SequenciaProducao)
                    {
                        <tr>
                            <td>@sequencia.Nome</td>
                            <td>@sequencia.Entrada</td>
                            <td>@sequencia.Saida</td>
                        </tr>
                    }
                </table>
            </fieldset>
        </div>
    </div>
}
<fieldset class="detail">
    <legend>Modelagem</legend>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <label class="title-label">Modelista</label>
                <div class="value-label">&nbsp;@Html.ValueFor(x => x.Modelista)</div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <label class="title-label">Modelagem</label>
                <div class="value-label">&nbsp;@Html.ValueFor(x => x.Modelagem)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h5>Detalhamento técnico</h5>
            <hr style="margin: 0"/>
            <div class="control-group">
                <label class="title-label">Cós</label>
                <div class="value-label">@Html.ValueFor(x => x.Cos)</div>
            </div>
            <div class="control-group">
                <label class="title-label">Passante</label>
                <div class="value-label">@Html.ValueFor(x => x.Passante)</div>
            </div>
            <div class="control-group">
                <label class="title-label">Entrepernas</label>
                <div class="value-label">@Html.ValueFor(x => x.Entrepernas)</div>
            </div>
            <div class="control-group">
                <label class="title-label">Boca</label>
                <div class="value-label">@Html.ValueFor(x => x.Boca)</div>
            </div>
            <div class="control-group">
                <label class="title-label">Observação</label>
                <div class="value-label">@Html.ValueFor(x => x.Observacao)</div>
            </div>
        </div>
        <div class="span6">
            <h5>Localizações de etiquetas</h5>
            <hr style="margin: 0"/>
            <div class="control-group">
                <label class="title-label">Etiqueta da marca</label>
                <div class="value-label">@Html.ValueFor(x => x.EtiquetaMarca)</div>
            </div>
            <div class="control-group">
                <label class="title-label">Etiqueta de composição</label>
                <div class="value-label">@Html.ValueFor(x => x.EtiquetaComposicao)</div>
            </div>
            <div class="control-group">
                <label class="title-label">Tag</label>
                <div class="value-label">@Html.ValueFor(x => x.Tag)</div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="detail">
    <legend>Aprovação</legend>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(x => x.Situacao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Situacao)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Tag, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Tag)
                </div>
            </div><div class="control-group">
                @Html.LabelFor(x => x.Dificuldade, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.Dificuldade)
                </div>
            </div><div class="control-group">
                @Html.LabelFor(x => x.DataRemessaProducao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.DataRemessaProducao)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(x => x.DataAprovacao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.DataAprovacao)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.QuantidadeMix, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.QuantidadeMix)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.QuantidadeSubmodelos, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.QuantidadeSubmodelos)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.ObservacaoAprovacao, new { @class = "title-label" })
                <div class="value-label">
                    @Html.ValueFor(x => x.ObservacaoAprovacao)
                </div>
            </div>
        </div>
    </div>
</fieldset>