@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.ModeloModel

@section css{@Styles.Render(Links.Bundles.Styles.FotoUpload)}
@section javascript{@Scripts.Render(Links.Bundles.Scripts.FotoUpload)}

@using (Html.BeginForm(MVC.EngenhariaProduto.Modelo.Editar(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
	@Html.HiddenFor(x => x.Id)
    @Html.Partial("_NovoOuEditar", Model)
	<div class="form-actions">
        <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
        @Html.ExcluirAuth(MVC.EngenhariaProduto.Modelo.Excluir(Model.Id))
	</div>
}
@{
    Html.RenderPartial("_RecortarImagem");
    Html.RenderAction("Pesquisar", "Funcionario", new { area = "Comum", funcaoFuncionario = "Estilista" });
    Html.RenderPartial("_ConfirmDelete");
}