@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.ModeloModel

@section css{@Styles.Render(Links.Bundles.Styles.FotoUpload)}
@section javascript{@Scripts.Render(Links.Bundles.Scripts.FotoUpload)}

@using (Html.BeginForm(MVC.EngenhariaProduto.Modelo.Editar(), FormMethod.Post, new { id="form", @class = "form-horizontal" })) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
	@Html.HiddenFor(x => x.Id)

    <ul class="nav nav-tabs">
        <li>@Html.ActionLinkAuth("Detalhar", MVC.EngenhariaProduto.Modelo.Detalhar(Model.Id.GetValueOrDefault()))</li>
        <li class="active">@Html.ActionLinkAuth("Editar", MVC.EngenhariaProduto.Modelo.Editar(Model.Id.GetValueOrDefault()))</li>
        <li>@Html.ActionLinkAuth("Variação", MVC.EngenhariaProduto.Modelo.Variacao(Model.Id.GetValueOrDefault()))</li>
        <li>@Html.ActionLinkAuth("Modelagem", MVC.EngenhariaProduto.Modelo.Modelagem(Model.Id.GetValueOrDefault()))</li>
        <li>@Html.ActionLinkAuth("Sequência de Produção", MVC.EngenhariaProduto.SequenciaProducao.SequenciaProducao(Model.Id.GetValueOrDefault()))</li>
        <li>@Html.ActionLinkAuth("Materiais de Consumo", MVC.EngenhariaProduto.ModeloMaterialConsumo.ModeloMaterialConsumo(Model.Id.GetValueOrDefault()))</li>
        <li>@Html.ActionLinkAuth("Programação de Bordado", MVC.EngenhariaProduto.Modelo.ProgramacaoBordado(Model.Id.GetValueOrDefault()))</li>
    </ul>
    <br/>

    @Html.Partial("_NovoOuEditar", Model)
}

@{
    Html.RenderPartial("_RecortarImagem");
    Html.RenderAction("Pesquisar", "Funcionario", new { area = "Comum", funcaoFuncionario = "Estilista" });
    Html.RenderPartial("_ConfirmDelete");
}