@model Fashion.ERP.Web.Areas.EngenhariaProduto.Models.ProgramacaoBordadoModeloModel

<ul class="nav nav-tabs">
    <li>@Html.ActionLinkAuth("Detalhar", MVC.EngenhariaProduto.Modelo.Detalhar(Model.ModeloId))</li>
    <li>@Html.ActionLinkAuth("Editar", MVC.EngenhariaProduto.Modelo.Editar(Model.ModeloId))</li>
    <li>@Html.ActionLinkAuth("Variação", MVC.EngenhariaProduto.Modelo.Variacao(Model.ModeloId))</li>
    <li>@Html.ActionLinkAuth("Modelagem", MVC.EngenhariaProduto.Modelo.Modelagem(Model.ModeloId))</li>
    <li>@Html.ActionLinkAuth("Sequência de Produção", MVC.EngenhariaProduto.SequenciaProducao.SequenciaProducao(Model.ModeloId))</li>
    <li>@Html.ActionLinkAuth("Materiais de Consumo", MVC.EngenhariaProduto.ModeloMaterialConsumo.ModeloMaterialConsumo(Model.ModeloId))</li>
    <li class="active">@Html.ActionLinkAuth("Programação de Bordado", MVC.EngenhariaProduto.Modelo.ProgramacaoBordado(Model.ModeloId))</li>
</ul>
    
<br/>
<form class="form-horizontal">
    <fieldset>
        <legend>Dados do Modelo</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(x => x.ModeloReferencia, new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        <div class="form-control-static no-gutter">
                            @Html.ValueFor(x => x.ModeloReferencia)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(x => x.ModeloDescricao, new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        <div class="form-control-static no-gutter">
                            @Html.ValueFor(x => x.ModeloDescricao)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(x => x.ModeloEstilistaNome, new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        <div class="form-control-static no-gutter">
                            @Html.ValueFor(x => x.ModeloEstilistaNome)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(x => x.ModeloDataCriacao, new { @class = "control-label col-sm-4 col-md-3 font-bold" })
                    <div class="col-sm-8 col-md-8 col-lg-7">
                        <div class="form-control-static no-gutter">
                            @Html.DisplayFor(x => x.ModeloDataCriacao)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Programações de Bordado</legend>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationSummaryEx()
                @(Html.Kendo().Grid(Model.Grid)
                      .Name("Grid").ToolBar(toolbar => toolbar.Template( @Html.ActionLinkAuth("Adicionar", MVC.EngenhariaProduto.Modelo.NovoProgramacaoBordado(Model.ModeloId), new { @class = "btn btn-default btn-sm" }).ToHtmlString()))
                      .Columns(columns =>
                      {
                          columns.Bound(x => x.Descricao);
                          columns.Template(item => item.Arquivo > 0 ? Html.ActionLink(item.NomeArquivo, MVC.Arquivo.Download(item.Arquivo.GetValueOrDefault()), new { @class = "btn btn-link" }) : MvcHtmlString.Create(item.NomeArquivo)).Title("Nome arquivo").Width(80);
                          columns.Bound(x => x.Data).Format("{0:dd/MM/yyyy}");
                          columns.Bound(x => x.QuantidadePontos);
                          columns.Bound(x => x.QuantidadeCores);
                          columns.Template(item => Html.ActionLinkAuth("Editar", MVC.EngenhariaProduto.Modelo.EditarProgramacaoBordado(Model.ModeloId, item.Id), new { @class = "btn btn-primary" })).Width(80);
                      }))            
            </div>
        </div>
    </fieldset>
</form>
