@model Fashion.ERP.Web.Areas.Comum.Models.PerfilDeAcessoModel

@using (Html.BeginForm("Novo", "PerfilDeAcesso", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryEx()
    @Html.HiddenFor(x => x.Id)
    <div class="control-group">
        @Html.LabelForRequired(x => x.Nome)
        <div class="controls">
            @Html.EditorFor(x => x.Nome)
            @Html.ValidationMessageFor(x => x.Nome, null, new { @class = "help-block" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelForRequired(x => x.Permissoes)
        <div class="controls">
            @(Html.TreeView(Model.PermissoesList)
                .EmptyContent("Não há permissões!")
                .Children(m => m.Itens)
                .HtmlAttributes(new { id = "treeview" })
                .ChildrenHtmlAttributes(new { @class = "subItem" })
                .ItemText(m => m.Name)
                .ItemTemplate(
                    @<text>
                    <input type="checkbox" value="@item.Id" @(item.IsChecked ? "checked='ckecked'" : string.Empty) name="Permissoes"/>@item.Name
                    </text>)
                )

            @Html.ValidationMessageFor(x => x.Permissoes, null, new { @class = "help-block" })
        </div>
    </div>

    <div class="form-actions">
        <button id="btnSubmit" class="btn btn-primary" type="submit" data-loading-text="Aguarde...">Salvar</button>
        @if (Model.Id.HasValue)
        {
            @Html.ExcluirAuth(MVC.Comum.PerfilDeAcesso.Excluir(Model.Id))
        }
    </div>

    <script>
        $(document).ready(function () {
            
            var treeview = $("#treeview").kendoTreeView({
                checkboxes: {
                    checkChildren: true,
                }
            }).data("kendoTreeView");
            
            treeview.expand(".k-item");
        });
    </script>
}
@{ Html.RenderPartial("_ConfirmDelete"); }