@model Fashion.ERP.Web.Areas.Financeiro.Models.ListaChequeRecebidoModel

@section javascript{@Scripts.Render(Links.Bundles.Scripts.PdfObject)}

@using (Html.BeginForm(MVC.Financeiro.Relatorio.ListaChequeRecebido(), FormMethod.Post, new { @class = "form-horizontal  small-labels" }))
{
    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsePesquisar">Pesquisar</a>
            </div>
            <div id="collapsePesquisar" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.NumeroCheque, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.NumeroCheque, new { @class = "input-small", data_mask = "999999"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Valor, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.EditorFor(x => x.Valor)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Compensado, new { @class = "control-label " })
                                <div class="controls">
                                    <select name="Compensado" class="input-small">
                                        <option></option>
                                        <option value="true">Sim</option>
                                        <option value="false">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Banco, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Banco, new { @class = "input-small", data_mask = "999" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Agencia, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Agencia, new { @class = "input-small", data_mask = "9999" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Conta, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Conta, new { @class = "input-small", data_mask = "999999" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Cliente, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Cliente, new { @class = "input-small", data_mask = "999999" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Nominal, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Nominal, new { @class = "input-medium" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Emitente, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.Emitente, new { @class = "input-medium" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Unidade, new { @class = "control-label " })
                                <div class="controls">
                                     @Html.DropDownList("Unidade", "")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.DataEmissaoInicio , new { @class = "control-label " })
                                <div class="controls">
                                    @Html.EditorFor(x => x.DataEmissaoInicio)
                                </div>
                                <br />
                                @Html.LabelForRequired(x => x.DataEmissaoFim , new { @class = "control-label " })
                                <div class="controls">
                                    @Html.EditorFor(x => x.DataEmissaoFim)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.DataVencimentoInicio, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.EditorFor(x => x.DataVencimentoInicio)
                                </div>
                                <br />
                                @Html.LabelForRequired(x => x.DataVencimentoFim , new { @class = "control-label " })
                                <div class="controls">
                                    @Html.EditorFor(x => x.DataVencimentoFim)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Group, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.DropDownList("Group", "")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.Sort, new { @class = "control-label " })
                                <div class="controls">
                                    @Html.DropDownList("Sort", "")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(x => x.SortDirection, new { @class = "control-label " })
                                <div class="controls">
                                    <select name="SortDirection">
                                        <option value="asc">Ascendente</option>
                                        <option value="desc">Descendente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="pesquisar-relatorio" class="btn btn-primary" type="button" data-loading-text="Aguarde...">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="pdf"></div>

<script>
    $(window).load(function () {
        
    });
</script>