@using Fashion.ERP.Domain.Comum
@model Fashion.ERP.Web.Areas.Comum.Models.UnidadeModel
@Html.Hidden("TipoPessoa", TipoPessoa.Juridica)

<fieldset>
    <legend>Dados da Unidade</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Nome)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nome, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.Cnpj)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.Cnpj, new { data_mask = "99.999.999/9999-99", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Cnpj, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.NomeFantasia)
                <div class="col-sm-8 col-md-8 col-lg-7">
                    @Html.TextBoxFor(x => x.NomeFantasia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NomeFantasia, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.UnidadeDataAbertura)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.EditorFor(x => x.UnidadeDataAbertura)
                    @Html.ValidationMessageFor(x => x.UnidadeDataAbertura, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.InscricaoEstadual)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.InscricaoEstadual, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.InscricaoEstadual, null, new { @class="help-block" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.InscricaoMunicipal)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.InscricaoMunicipal, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.InscricaoMunicipal, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>     
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-sm">
                @Html.LabelForRequired(x => x.InscricaoSuframa)
                <div class='col-sm-8 col-md-8 col-lg-7'>
                    @Html.TextBoxFor(x => x.InscricaoSuframa, new {  @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.InscricaoSuframa, null, new { @class="help-block" })
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script>
    $(function() {
        var verificarCpfCnpj = function () {
            var url = "/Comum/Unidade/VerificarCpfCnpj?cpfCnpj=" + $(this).val();
            $.getJSON(url, function (result) {
                console.log(JSON.stringify(result));
                if (result.existeFornecedor) {
                    alert("Já existe uma unidade com este cpf/cnpj cadastrado no sistema.");
                    document.location.href = "/Comum/Unidade/Editar/" + result.pessoaId;
                } else if (result.existePessoa) {
                    if (confirm("Já existe uma pessoa com este cpf/cnpj cadastrada no sistema. Deseja usar os dados para este cadastro?")) {
                        document.location.href = "/Comum/Unidade/Editar/" + result.pessoaId;
                    } else {
                        document.location.href = "/Comum/Unidade";
                    }
                }
                // Criar uma tela modal e perguntar ao usuário o q fazer
            }).fail(function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            });
        };
        $("#Cnpj").on("change", verificarCpfCnpj);
    })
</script>